.modal1 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 25px;
  background-color: white;
}
div.close-btn {
  position: absolute;
  left: 5%;
  top: -100px;
}
div.close-btn > a {
  color: #fff;
  font-weight: bold;
  font-size: 23px;
  cursor: pointer;
}

p {
  padding: 10px 0;
  font-size: 20px;
  max-width: 900px;
  margin: 0 auto;
  text-align: justify;
}
h1 {
  font-size: 27px;
  text-align: center;
  margin-top: 110px;
}

.Re-img-box {
  width: 245px;
  height: 250px;
}

.Re-img-box img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
@media screen and (min-width: 320px) and (max-width: 595px) {
  .modal1 h1 {
    font-size: 20px !important;
    text-align: center !important;
    margin-top: 30px !important;
    margin-bottom: 10px !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .model1 h1 {
    text-align: center;
  }
  p {
    padding: 10px 0;
    font-size: 16px;
    max-width: 596px;
    margin: 0 auto;
  }
  #p1 {
    padding-top: 10px;
  }
}
.block {
  width: 306px;
  height: 230px;
  object-fit: cover;
}

.block img {
  width: 100%;
  height: 100%;
}

@media (max-width: 575.98px) {
  .modal1 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 25px;
    background-color: white;
  }
  div.close-btn {
    position: absolute;
    left: 85%;
    top: -46px;
  }
  .modal1 h1 {
    font-size: 20px;
    text-align: right;
    margin-top: -20px;
    margin-bottom: 10px;
  }
  #p1 {
    padding-top: 10px;
  }
  p {
    padding: 5px 0;
    font-size: 14px;
    max-width: 450px;
    margin: 0 auto;
  }
  .block {
    width: 306px;
    height: 130px;
    object-fit: cover;
  }
  .glyphicon-chevron-right:before {
    content: "\e080";
    font-size: 14px;
  }
  .glyphicon-chevron-left:before {
    content: "\e079";
    font-size: 14px;
  }
}

.col-centered {
  float: none;
  /* margin: 0 auto; */
}

.carousel-control {
  width: 8%;
  width: 0px;
}
.carousel-control.left,
.carousel-control.right {
  margin-right: 40px;
  margin-left: 32px;
  background-image: none;
  opacity: 1;
}
.carousel-control > a > span {
  color: white;
  font-size: 29px !important;
}

.carousel-col {
  position: relative;
  min-height: 1px;
  padding: 5px;
  float: left;
}

.active > div {
  display: none;
}
.active > div:first-child {
  display: block;
}

/*xs*/
@media (max-width: 767px) {
  .carousel-inner .active.left {
    left: -50%;
  }
  .carousel-inner .active.right {
    left: 50%;
  }
  .carousel-inner .next {
    left: 50%;
  }
  .carousel-inner .prev {
    left: -50%;
  }
  .carousel-col {
    width: 50%;
  }
  .active > div:first-child + div {
    display: block;
  }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-inner .active.left {
    left: -50%;
  }
  .carousel-inner .active.right {
    left: 50%;
  }
  .carousel-inner .next {
    left: 50%;
  }
  .carousel-inner .prev {
    left: -50%;
  }
  .carousel-col {
    width: 50%;
  }
  .active > div:first-child + div {
    display: block;
  }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
  .carousel-inner .active.left {
    left: -33%;
  }
  .carousel-inner .active.right {
    left: 33%;
  }
  .carousel-inner .next {
    left: 33%;
  }
  .carousel-inner .prev {
    left: -33%;
  }
  .carousel-col {
    width: 33%;
  }
  .active > div:first-child + div {
    display: block;
  }
  .active > div:first-child + div + div {
    display: block;
  }
}

/*lg*/
@media (min-width: 1200px) {
  .carousel-inner .active.left {
    left: -25%;
  }
  .carousel-inner .active.right {
    left: 25%;
  }
  .carousel-inner .next {
    left: 25%;
  }
  .carousel-inner .prev {
    left: -25%;
  }
  .carousel-col {
    width: 25%;
  }
  .active > div:first-child + div {
    display: block;
  }
  .active > div:first-child + div + div {
    display: block;
  }
  .active > div:first-child + div + div + div {
    display: block;
  }
}
