<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="wrapper" style="background-image: url('images/bg-registration-form-1.jpg')">
  <div class="inner">
    <div class="image-holder">
      <img src="../../assets/img/udgaar/udgaar2.jpg" alt="" />
    </div>
    <form (ngSubmit)="onSubmit()">
      <h3 class="heading"> Registration Form </h3>

      <div class="form-group">
        <input type="text" placeholder="First Name" class="form-control" [(ngModel)]="Fname"
          [ngModelOptions]="{ standalone: true }" id="Fname" name="Fname" required />
        <input type="text" placeholder="Last Name" class="form-control" [(ngModel)]="Lname"
          [ngModelOptions]="{ standalone: true }" id="Lname" name="Lname" required />
      </div>

      <div class="form-wrapper">
        <input type="email" placeholder="Email Address" id="email" name="email" class="form-control" [(ngModel)]="email"
          [ngModelOptions]="{ standalone: true }" required />
            
      </div>

      <div class="form-wrapper">
        <input type="text" placeholder="Phone Number" id="phone" name="phone" class="form-control" [(ngModel)]="phone"
          [ngModelOptions]="{ standalone: true }" required />
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
            <path
              d="M112 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm40 304l0 128c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-223.1L59.4 304.5c-9.1 15.1-28.8 20-43.9 10.9s-20-28.8-10.9-43.9l58.3-97c17.4-28.9 48.6-46.6 82.3-46.6l29.7 0c33.7 0 64.9 17.7 82.3 46.6l58.3 97c9.1 15.1 4.2 34.8-10.9 43.9s-34.8 4.2-43.9-10.9L232 256.9 232 480c0 17.7-14.3 32-32 32s-32-14.3-32-32l0-128-16 0z"
            />
          </svg>
      </div>

      <div class="form-wrapper">
        <select type="text" name="gender" id="gender" class="form-control" [(ngModel)]="gender"
          [ngModelOptions]="{ standalone: true }" required>
          <option value="" disabled selected>Gender</option>
          <option value="1">Male</option>
          <option value="2">Female</option>
          <option value="3">Don't want to say</option>
        </select>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
          <path
            d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"
          />
        </svg>
      </div>

      <div class="form-wrapper">
        <input type="text" placeholder="Course" class="form-control" [(ngModel)]="course"
          [ngModelOptions]="{ standalone: true }" id="course" name="course" required />
      </div>

      <div class="form-wrapper">
        <select type="text" name="year" id="year" class="form-control" [(ngModel)]="year"
          [ngModelOptions]="{ standalone: true }">
          <option value="" disabled selected>Year</option>
          <option value="1">1st</option>
          <option value="2">2nd</option>
          <option value="3">3rd</option>
          <option value="4">4th</option>
          <option value="5">5th</option>
        </select>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
          <path
            d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"
          />
        </svg>

      </div>

      <div class="form-wrapper">
        <select type="text" name="connection" id="connection" class="form-control" [(ngModel)]="connection"
          [ngModelOptions]="{ standalone: true }">
          <option value="" disabled selected>Connected By</option>
          <option value="1">Campus Ambassador</option>
          <option value="2">Facilitator</option>
          <option value="3">Student</option>
          <option value="4">Volunteers</option>
        </select>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
          <path
            d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z"
          />
        </svg>
      </div>

      <div class="form-wrapper">
        <select type="text" class="form-control" id="college_id" name="college_id" [(ngModel)]="college_id"
          [ngModelOptions]="{ standalone: true }" required>
          <option value="" disabled selected>College</option>
          <option value="Acharya Narendra Dev College (SDC)">
            Acharya Narendra Dev College (SDC)
          </option>
          <option value="Aditi Mahavidyalaya (University of Delhi)">
            Aditi Mahavidyalaya (University of Delhi)
          </option>
          <option value="Aryabhatta College (RLAE)(SDC)">
            Aryabhatta College (RLAE)(SDC)
          </option>
          <option value="Atma Ram Sanatan Dharma College (SDC)">
            Atma Ram Sanatan Dharma College (SDC)
          </option>
          <option value="Bhagini Nivedita College">
            Bhagini Nivedita College
          </option>
          <option value="Bharati College">Bharati College</option>
          <option value="Bhaskaracharya College of Applied Sciences">
            Bhaskaracharya College of Applied Sciences
          </option>
          <option value="Bhim Rao Ambedkar College">
            Bhim Rao Ambedkar College
          </option>
          <option value="College of Vocational Studies (SDC)">
            College of Vocational Studies (SDC)
          </option>
          <option value="Daulat Ram College">Daulat Ram College</option>
          <option value="Deen Dayal Upadhyaya College">
            Deen Dayal Upadhyaya College
          </option>
          <option value="Delhi College of Arts & Commerce (SDC)">
            Delhi College of Arts & Commerce (SDC)
          </option>
          <option value="Deshbandhu College(SDC)">
            Deshbandhu College(SDC)
          </option>
          <option value="Dyal Singh College (Evening)(SDC)">
            Dyal Singh College (Evening)(SDC)
          </option>
          <option value="Dyal Singh College (Morning) (SDC)">
            Dyal Singh College (Morning) (SDC)
          </option>
          <option value="Gargi College (SDC)">Gargi College (SDC)</option>
          <option value="Hans Raj College">Hans Raj College</option>
          <option value="Hindu College">Hindu College</option>
          <option value="Indira Gandhi Institute of Physical Educational & Sports Sciences">
            Indira Gandhi Institute of Physical Educational & Sports Sciences
          </option>
          <option value="Indraprastha College for Women">
            Indraprastha College for Women
          </option>
          <option value="Institute of Home Economics (SDC)">
            Institute of Home Economics (SDC)
          </option>
          <option value="Janki Devi Memorial College">
            Janki Devi Memorial College
          </option>
          <option value="Jesus & Mary College (SDC)">
            Jesus & Mary College (SDC)
          </option>
          <option value="Kalindi College">Kalindi College</option>
          <option value="Kamala Nehru College (SDC)">
            Kamala Nehru College (SDC)
          </option>
          <option value="Keshav Mahavidyalaya">Keshav Mahavidyalaya</option>
          <option value="Kirori Mal College">Kirori Mal College</option>
          <option value="Lady Irwin College">Lady Irwin College</option>
          <option value="Lady Shri Ram College for Woman (SDC)">
            Lady Shri Ram College for Woman (SDC)
          </option>
          <option value="Lakshmibai College">Lakshmibai College</option>
          <option value="Maharaja Agrasen College">
            Maharaja Agrasen College
          </option>
          <option value="Maharishi Valmiki College of Education">
            Maharishi Valmiki College of Education
          </option>
          <option value="Maitreyi College (SDC)">Maitreyi College (SDC)</option>
          <option value="Mata Sundri College For Women">
            Mata Sundri College For Women
          </option>
          <option value="Miranda House">Miranda House</option>
          <option value="Motilal Nehru College (Evening) (SDC)">
            Motilal Nehru College (Evening) (SDC)
          </option>
          <option value="Motilal Nehru College (Morning) (SDC)">
            Motilal Nehru College (Morning) (SDC)
          </option>
          <option value="PGDAV College  (Evening) (SDC)">
            PGDAV College (Evening) (SDC)
          </option>
          <option value="PGDAV College (Day)(SDC)">
            PGDAV College (Day)(SDC)
          </option>
          <option value="Rajdhani College">Rajdhani College</option>
          <option value="Ram Lal Anand College (SDC)">
            Ram Lal Anand College (SDC)
          </option>
          <option value="Ramanujan College (SDC)">
            Ramanujan College (SDC)
          </option>
          <option value="Ramjas College">Ramjas College</option>
          <option value="Satyawati College (Eve.)">
            Satyawati College (Eve.)
          </option>
          <option value="Satyawati College">Satyawati College</option>
        </select>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
          <path
            d="M137.4 374.6c12.5 12.5 32.8 12.5 45.3 0l128-128c9.2-9.2 11.9-22.9 6.9-34.9s-16.6-19.8-29.6-19.8L32 192c-12.9 0-24.6 7.8-29.6 19.8s-2.2 25.7 6.9 34.9l128 128z" />
        </svg>
      </div>
      <button type="submit" (click)="validateAndRegister()">
        Register  
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
  <path
    fill="#ffffff"
    d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z"
  />
</svg>
      </button>
    </form>
  </div>
</div>