<section class="social-causes">
	<div class="container">
		<div class="heading-wrapper">
			<h2>OUR <span>CAUSES</span></h2>
		</div>
		<div class="row first-row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="image-wrap">
					<div class="image">
						<img src="assets/img/causes/DeAddiction3.jpg" (click)="onCauses(0)">
					</div>
					<p>DE-ADDICTION COMPAIGN</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="image-wrap">
					<div class="image">
						<img src="assets/img/causes/cause1.jpg" (click)="onCauses(0)">
					</div>
					<p>EDUCATION AND TRAINING</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="image-wrap">
					<div class="image">
						<img src="assets/img/causes/cause2.jpg" (click)="onCauses(1)">
					</div>
					<p>DISASTER WELFARE</p>
				</div>
			</div>
		</div>
		<div class="row first-row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="image-wrap">
					<div class="image">
						<img src="assets/img/causes/cause-4.jpg" (click)="onCauses(2)">
					</div>
					<p>ENVIRONMENT PROTECTION</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="image-wrap">
					<div class="image">
						<img src="assets/img/causes/cause4.jpg" (click)="onCauses(3)">
					</div>
					<p>INDIVIDUAL CARE</p>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="image-wrap">
					<div class="image">
						<img src="assets/img/causes/cause5.jpg" (click)="onCauses(4)">
					</div>
					<p>VALUE AWARENESS</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
				<div class="image-wrap">
					<div class="image">
						<img src="assets/img/causes/cause6.jpg" (click)="onCauses(5)">
					</div>
					<p>EXTRA CURRICULAR</p>
				</div>
			</div>
		</div>
	</div>
<!--OVERLAY SECTION HERE-->
<div class="overlay-section" #overlay (click)="onclose()">
	<div class="container">
		<div class="content-wrap" #content>
			<span class="close-btn"><img src="assets/img/causes/close_icon.png" (click)="onclose()"></span>
			<div class="row">
	
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 content-box content-box-1">
					<h1> DE-ADDICTION COMPAIGN </h1>
					<p>To make an endeavour for addiction free society through education and awareness among youth to help them embark towards Holistic Development.</p>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 img-tool">
					<div class="img-wrap">
					<img src="assets/img/causes/DeAddiction3.jpg">
				</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 content-box content-food-distribution">
					<h1>SEMINARS</h1>
					<p>Life Changing sessions by eminent personalities with an attempt to blend knowledge with wisdom.</p> <br />
					<h1>EDUCATING POOR CHILDREN</h1>
					<p>Education of poverty-stricken sections of the society with desire of adding some values in their life.</p>
				</div>
			</div>
		</div>
	<div class="content-wrap" #content>
		<span class="close-btn"><img src="assets/img/causes/close_icon.png" (click)="onclose()"></span>
		<div class="row">

			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 content-box content-box-1">
				<h1>EDUCATION AND TRAINING</h1>
				<p>Regular sessions on contemporary issues to help broaden the horizon of understanding of the individual and help one in holistic development of oneself.</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 img-tool">
				<div class="img-wrap">
				<img src="assets/img/causes/cause1.jpg">
			</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 content-box content-food-distribution">
				<h1>SEMINARS</h1>
				<p>Life Changing sessions by eminent personalities with an attempt to blend knowledge with wisdom.</p> <br />
				<h1>EDUCATING POOR CHILDREN</h1>
				<p>Education of poverty-stricken sections of the society with desire of adding some values in their life.</p>
			</div>
		</div>
	</div>
	<div class="content-wrap" #content>
		<span class="close-btn"><img src="assets/img/causes/close_icon.png" (click)="onclose()"></span>
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 content-box content-box-1">
				<h1>FLOOD RELIEF</h1>
			<p>Club members come together to help the needy people in their distressful period dominated by anxieties and insecurity. </p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 img-tool">
					<div class="img-wrap">
			<img src="assets/img/causes/cause2.jpg">
			</div>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 content-box content-food-distribution">
				<h1>FOOD DISTRIBUTION</h1>
				<p>Food, clothing and shelter are basic needs of the society. Without food, there is no question of existence. Club’s food distribution programs aim to help people meet this basic need. Club members are encouraged to participate in food distribution activities and develop and express the genuine feeling of compassion for their under-privileged brothers and sisters. </p>
			</div>
		</div>
	</div>
	<div class="content-wrap" #content>
		<span class="close-btn"><img src="assets/img/causes/close_icon.png" (click)="onclose()"></span>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 content-box">
					<h1>TREE PLANTATION DRIVE</h1>
				<p>Regular tree plantation activities to promote green earth concept and create a sense of belongingness to the environment. </p>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 img-tool">
						<div class="img-wrap">
					<img src="assets/img/causes/cause-4.jpg">
				</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 content-box">
					<h1>CLEAN YAMUNA CAMPAIGN</h1>
					<p>A get-together of service driven intellectuals to free mother Yamuna of its contamination and once again make it pristine. </p>
				</div>
			</div>
		</div>
		<div class="content-wrap" #content>
			<span class="close-btn"><img src="assets/img/causes/close_icon.png" (click)="onclose()"></span>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 content-box">
					<h1>BLOOD DONATION CAMP</h1>
				<p>Blood donation camps with the purpose of increasing community spirit and helping people in need of the hour. </p>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 img-tool">
						<div class="img-wrap">
					<img src="assets/img/causes/cause4.jpg">
				</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 content-box">
					<h1>VISIT TO ORPHANAGE AND OLD AGE HOME</h1>
					<p>Club members regularly come together to visit Orphanage and old age home to help these weak sections feel a sense of belongingness. </p>
				</div>
			</div>
		</div>
		<div class="content-wrap" #content>
			<span class="close-btn"><img src="assets/img/causes/close_icon.png" (click)="onclose()"></span>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 content-box content-food-distribution">
					<h1>DEBATE</h1>
				<p>Debates among the intelligent sections of the society provide a food for thought. The Club aims to benedict its members with a platform where they can come and discuss on key issues concerning society and propose some solutions for the betterment. This also facilitates the harmonization of various point of views on the same issue. </p>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 img-tool">
						<div class="img-wrap">
					<img src="assets/img/causes/cause5.jpg">
				</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 content-box">
					<h1>QUIZ</h1>
					<p>Quiz on social and general awareness with the aim to help people know and develop values. </p>
				</div>
			</div>
		</div>
		<div class="content-wrap" #content>
			<span class="close-btn"><img src="assets/img/causes/close_icon.png" (click)="onclose()"></span>
			<div class="row">
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 content-box">
					<h1>DRAMA</h1>
				<p>Movies and drama have a greater impact on the mind-sets of people than any other form of expression. Understanding this, the club members are encouraged for drama etc. </p>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 img-tool">
						<div class="img-wrap">
					<img src="assets/img/causes/cause6-1.jpg">
				</div>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 content-box">
					<h1>CULTURAL EVENTS</h1>
					<p>Cultural events including dance, old classical music and art to strengthen the roots of the country. </p>
				</div>
			</div>
		</div>
</div>
</div>
</section>
