<div class="modal1">
  <div class="close-btn"><a routerLink="/recent events">Back</a></div>
  <h1>INTRA-COLLEGE ANTI-ADDICTION QUIZ</h1>
  <div>
    <p id="p1">
      <br />
      Event- INTRA-COLLEGE ANTI-ADDICTION QUIZ<br />
      Date – Feb 2019 to Sep 2019<br />
      Venue – College campus.
    </p>
    <P>
      As part of its initiative towards social upliftment, Ethiccraft Club
      launched <B>Anti-Addiction Campaign</B> in the month of February 2019.
      Under the campaign, Intra-College Anti-addiction quiz was conducted inside
      the institutions across India. The objectives of the quiz were as
      follows:<BR /> • To make an endeavor for addiction free society through
      education and awareness among youth to help them embark towards holistic
      development. <BR />• To help youth come together for a fight against
      self-destructive habits.<BR /> • To make the youth thoughtful towards
      importance of addiction free society and help them identify their role in
      achieving the aforementioned objective. Many colleges participated in the
      quiz including IIT Delhi, NIT Delhi, JNU, RKGIT, ABES, and so on. Students
      could register themselves for the intra-College Quiz through Campus
      Ambassador (The Student representative of the club) or by Ethiccraft
      Website. Intra College Anti-Addiction Campaign Quiz was conducted in the
      college campus.<B>
        Questions of both the quiz were based on the content of the book” Weed
        Out” written by Toshan Nimai Das</B
      >. Top three Scorers were rewarded with
      <b>JBL TIIOBT Pure Bass Wireless in Ear Headphone</b> (1st Prize),
      <b>X-jock Lap Bag 26.5 L Backpack</b> (2nd Prize) and
      <b>Mi MDZ-28-DI Bluetooth Speaker</b> (3rd prize) respectively for their
      achievement. Top scorers of intra college Quiz who cleared the overall
      cut-off (decided by the quiz management) got a chance to represent the
      respective college in Inter-College Anti-Addiction Campaign Quiz Contest
      in UDGAAR Fest in the month of October at
      <b>Indira Gandhi Indoor Stadium</b>. Winners and Runner-ups of the
      Inter-College Quiz were awarded with Honda Activa 5G DLX (1st PRIZE), Acer
      Spin SP315-51(2nd Prize) and Redmi Note 6 Pro (3rd Prize) and the College
      Authorities were honored on Stage in front of esteemed guest and
      <b>12000 youths</b>.
    </P>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-11 col-md-10 col-centered">
        <div
          id="carousel"
          class="carousel slide"
          data-ride="carousel"
          data-type="multi"
          data-interval="2500"
        >
          <div class="carousel-inner">
            <div class="item active">
              <div class="carousel-col">
                <div class="block red img-responsive">
                  <img src="assets/img/menu-revents/modal22-1.jpeg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal22-10.jfif" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block green img-responsive">
                  <img src="assets/img/menu-revents/modal22-2.jpeg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal22-12.jfif" alt="" />
                </div>
              </div>
            </div>

            <div class="item">
              <div class="carousel-col">
                <div class="block blue img-responsive">
                  <img src="assets/img/menu-revents/modal22-3.jpeg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal22-11.jfif" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal22-4.jpeg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal22-5.jpeg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal22-9.jfif" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal22-6.jpeg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal22-7.jpeg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal22-8.jfif" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- Controls -->
          <div class="left carousel-control">
            <a href="#carousel" role="button" data-slide="prev">
              <span
                class="glyphicon glyphicon-chevron-left"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          <div class="right carousel-control">
            <a href="#carousel" role="button" data-slide="next">
              <span
                class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
