<section class="sectionmodal" id="main">
  <a class="close-btn"
    ><img src="assets/img/causes/close_icon.png" routerLink="/home"
  /></a>
  <div class="container ">
    <div class="img-box ">
      <img src="/assets/img/upcoming/pdc.jpeg" class="card" alt="" />
    </div>
    <div class="modal1">
      <!-- <h1>CAMPUS AMBASSADORS TRIP TO JAIPUR</h1> -->
      <div>
        <h1>Personality Development Course</h1>
        <p id="p1">
          Ethiccraft Club is coming up with a 9 week course to enhance the
          personality of youth and model their thoughts, words and action. The
          course entitled<b>" Personality Development Course(PDC)"</b> aims to
          help youth cultivate individual, relationships and organisational
          values and ethics for developing professional competence. The course
          aims to blend character and competence in a pragmatic way to help
          youth embark on the path of holistic development. This 9 week
          certified course will be conducted at the college level inside the
          institution.
        </p>
        <p>
          <b>
            For registration, interested students may contact their college
            Campus Ambassador or contact us at +91-9319866696.</b
          >
        </p>
      </div>
    </div>
  </div>
</section>
