<section class="about-us-section">
  <div class="container">
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-3 col-xs-12 option-block">
        <div class="fix-card">
          <ul class="nav nav-pills nav-stacked">
            <li class="active">
              <a data-toggle="pill" href="#home">About Us</a>
            </li>
            <li><a data-toggle="pill" href="#menu1">Mission & Vision</a></li>
            <li><a data-toggle="pill" href="#menu2">Objectives</a></li>
            <li>
              <a class="p-a" data-toggle="pill" href="#menu3"
                >Message from President's Desk</a
              >
            </li>
            <li>
              <a data-toggle="pill" href="#menu4">Our Team</a>
            </li>
            <li>
              <a data-toggle="pill" href="#menu5">Our Faculties</a>
            </li>
            <!-- <li>
              <a data-toggle="pill" href="#menu6">Find EthicCraft Club</a>
            </li> -->
          </ul>
        </div>
        <!-- Responsibe on mobile  -->
        <ul class="nav nav-pills nav-stacked mob-about">
          <!-- <li class="active"><a href="#">Home</a></li> -->
          <li class="dropdown active">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">About US <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a data-toggle="pill" href="#menu1">Mission & Vision</a></li>
              <li><a data-toggle="pill" href="#menu2">Objectives</a></li>
              <li>
                <a class="p-a" data-toggle="pill" href="#menu3"
                  >Message from President's Desk</a
                >
              </li>
              <li>
                <a data-toggle="pill" href="#menu4">Our Team</a>
              </li>
              <li>
                <a data-toggle="pill" href="#menu5">Our Faculties</a>
              </li>  
              <!-- <li>
                <a data-toggle="pill" href="#menu6">FindClub</a>
              </li>                 -->
            </ul>
          </li>
        </ul>
      </div>

      <div class="col-xl-10 col-lg-10 col-md-10 col-sm-9 col-xs-12 ">
        <div class="tab-content">
          <div id="home" class="tab-pane fade in active">
            <h3 class="about-heading">ABOUT <span> US </span></h3>
            <div class="about-content-div">
              <p>
                Ethiccraft Club, officially launched by Former HRD minister Mr
                Prakash Javadekar on 14th October 2018 at IGI Stadium, is a
                youth wing of ISKCON for the purpose of empowering the youth of
                India on the matter of values and social well-being. With the
                purpose of youth empowerment through knowledge blended with
                wisdom while simultaneously providing them with a much-needed
                support system and favourable ambience, a team of selfless and
                hardworking youths have come up with the idea of Ethiccraft
                Club.
              </p>
              <P
                >Understanding the importance of values, which unlike the
                foundation of a building, is the foundation of human existence,
                the club aims to help youths cultivate know about values and
                subsequently help embellish their personality by cultivating
                values to experience the real joyful nature of the self. The
                club also aims to help youth provide a platform where they can
                express the inherent goodness of their heart by becoming
                instrumental in transforming the lives of others.</P
              >
            </div>
          </div>
          <!-- ************************** Mission and Vision ********************************** -->
          <div id="menu1" class="tab-pane fade">
            <h3 class="M-V">MISSION & <span>VISION</span></h3>
            <div class="VISION-content">
              <h4 class="VISION-heading">VISION</h4>
              <p>
                To make the youth thoughtful towards importance of values in day
                to day life and subsequently train and inspire them to become
                perfect leader in the society by inculcating values, so that
                they can create a better India and become an asset to the
                nation.
              </p>
            </div>
            <div class="v-div">
              <h4 class="v-heading">MISSION</h4>
              <p>
                To create, preserve and promote the Value Awareness among youth
                through a systematic education and training program at various
                levels in the society which will eventually result into holistic
                growth heralding a constructive transformation of the hearts in
                order to ensure sustainable peace and happiness all over the
                world.
              </p>
            </div>
          </div>
          <div id="menu2" class="tab-pane fade">
            <h3 class="obj-heading">OBJECT<span>IVES</span></h3>
            <div class="slide">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                  <img
                    class="slide-img"
                    src="assets/img/objectives/obj-1.png"
                    alt=""
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                  <div class="slide-content">
                    <h4>Platform for Expressing Goodness</h4>
                    <p>
                      All of us have the inherent goodness in our personality.
                      Many times,due to lack of a proper platform for expression
                      and lack ofinspiration, goodness is put on the back foot.
                      This club is aplatform for goodness expression.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                  <img
                    class="slide-img"
                    src="assets/img/objectives/obj-2.png"
                    alt=""
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                  <div class="slide-content">
                    <h4>Promote Value Centered lifestyle</h4>
                    <p>
                      Values are the priceless jewels which embellish the
                      personality of a human being. Values provide the
                      much-needed meaning to life therefore every act directed
                      towards adding even an iota of value in the life is a
                      transformational effort.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                  <img
                    class="slide-img"
                    src="assets/img/objectives/obj-3.jpg"
                    alt=""
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                  <div class="slide-content">
                    <h4>Association</h4>
                    <p>
                      Association has a very important role in shaping the
                      character and destiny of an individual. This is because of
                      the fact that association is a channel for knowledge
                      transmission which results in thoughtful discussions
                      subsequently leading to hear transformation
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                  <img
                    class="slide-img"
                    src="assets/img/objectives/obj-4(2).jpg"
                    alt=""
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                  <div class="slide-content">
                    <h4>Support System</h4>
                    <p>
                      In order to become a constructive personality, along with
                      knowledge a person need support and favourable ambience.
                      Such ambience and support become the driving force to help
                      one embark on the path of success.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                  <img
                    class="slide-img"
                    src="assets/img/objectives/obj-5.png"
                    alt=""
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                  <div class="slide-content">
                    <h4>Personalized Mentorship</h4>
                    <p>
                      Every individual has his own set of needs, interests and
                      concerns which result in different sets of permutations
                      and combinations of goals that one desires to achieve and
                      obstacles which obstruct his path of success. For handling
                      such situation, one needs personalized guidance and
                      mentorship.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                  <img
                    class="slide-img"
                    src="assets/img/objectives/obj-6.png"
                    alt=""
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                  <div class="slide-content">
                    <h4>Community Building</h4>
                    <p>
                      Due to lack of training and ego-centric attitude, modern
                      people find it easy to work as an individual but not as a
                      team. Regular value based activities and discussions help
                      people come together for a common cause.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                  <img
                    class="slide-img"
                    src="assets/img/objectives/obj-7.png"
                    alt=""
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                  <div class="slide-content">
                    <h4>Preserving Culture</h4>
                    <p>
                      Education through cultural rehabilitation (creating an
                      atmosphere to facilitate natural and standard system of
                      value education.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                  <img
                    class="slide-img"
                    src="assets/img/objectives/obj-8.jpg"
                    alt=""
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                  <div class="slide-content">
                    <h4>Sense of Responsibility</h4>
                    <p>
                      Training and education to make youth responsible citizens
                      of the country. Responsible citizens are the intangible
                      assets of the country which help the nation excel in all
                      facets of development.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                  <img
                    class="slide-img"
                    src="assets/img/objectives/obj-9.jpg"
                    alt=""
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                  <div class="slide-content">
                    <h4>Providing Life Equilibrium</h4>
                    <p>
                      A perfect balance of Physical Quotient, Intelligence
                      Quotient, Emotional quotient and spiritual quotient is the
                      much needed pre-requisite for a healthy life in the modern
                      times
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="slide">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 col-xl-2">
                  <img
                    class="slide-img"
                    src="assets/img/objectives/obj-10.jpg"
                    alt=""
                  />
                </div>
                <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-xl-10">
                  <div class="slide-content">
                    <h4>Role Model and Inspirational Leadership</h4>
                    <p>
                      Creating exemplary youth leaders for the society who may
                      proliferate the development of new frontiers to create new
                      opportunities and avenues.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ********************** our PRESIDENT MESSAGE ************************************ -->
          <div id="menu3" class="tab-pane fade">
            <h3 class="p-massage-heading">
              MESSAGE FROM PRESIDENT'S
              <span> DESK</span>
            </h3>
            <div class="row">
              <div class="P-massage-div">
                <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                  <div class="pr-img-div">
                    <img class="pr-img" src="assets/img/objectives/abcde.jpg" />
                  </div>
                </div>
                <div lass="col-xs-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                  <div class="p-massage">
                    <p>
                      The 21st century is dedicated to India. It can’t be
                      questioned that today entire world is engaging attention
                      towards India to see what the country with a plethora of
                      youth can do for the world. Education plays a key role in
                      developing any nation. To educate the youth should be the
                      prime concern of every Nation. Once DR. APJ Abdul Kalam
                      quoted” Be more dedicated to making solid achievements
                      than in running after swift and synthetic happiness”.
                      <br />
                      The aim of true happiness and prosperity with solid
                      achievements is the goal of humanity from time immemorial.
                      Right from the dawn of human civilization, the importance
                      of Value Education has been realized and emphasized time
                      and again by pioneers and thinkers all over the world. A
                      positive change in the world can only be brought about
                      through value-based education. Thus, there is a need for
                      imparting a perfect blend of knowledge, skills and values
                      to proliferate the rate of growth and development of an
                      individual. Along with knowledge, youths must be empowered
                      with wisdom to help them embark on the path of holistic
                      development. Moreover, to nourish them in their sapling
                      stage, along with education we must bless them with
                      much-needed support and a favourable ambience.
                      <br />
                      Ethiccraft club is providing a platform to the modern
                      youth who many times due to lack of proper guidance fall
                      into the trap of bad habits. The club aims to make youth
                      thoughtful of values in life and subsequently train them
                      in cultivating values to help embark on the path of
                      becoming an asset to the country. We are taking steps to
                      build a new India where youth live a value-centred life
                      and making them aware of our prestigious culture which
                      unfortunately is not a part of the present education
                      system.
                      <br />
                      It is the verdict of the intelligent class of people that
                      the purpose of life should be a life of purpose. Through
                      proper channels and with the help of active selfless
                      volunteers, we are associating with youths to provide the
                      necessary support and assistance to make them thoughtful
                      towards the purpose of human life and become more
                      responsible towards society.
                      <br />
                      Today, an increased number of crimes in the society itself
                      is evidence of a lack of good leadership and role models
                      in society. We are putting our efforts to provide a life
                      of equilibrium where youth grow through life not just go
                      through life. We are providing a platform to youths where
                      they can get the proper support system to express
                      themselves and subsequently build a community which
                      selflessly join hands to root out the problems youths are
                      facing today. This mission has been undertaken with the
                      sincere desire to help the society which is currently
                      being tormented by all kinds of problems including
                      suicides, drug addiction, juvenile delinquency etc. May
                      the Almighty Lord shower his blessings and together we
                      bring peace and harmony in society and preserve our lost
                      culture of caring and giving. With this positive note, let
                      us all become instrumental in exhibiting that vigour,
                      enthusiasm and determination which even has the potential
                      to melt the rocks. When a combination of youths come
                      together with this desire, the vision to make the world a
                      beautiful place to live remains no more a distant dream.
                    </p>
                    <p>
                      Sundar Gopal Das <br />
                      President, Ethiccraft
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ************************* our Team *********************************************** -->
          <div id="menu4" class="tab-pane fade abc">
            <h3 class="our-team-heading">OUR <span>TEAM</span></h3>
            <div>
                <section class="abc">
                    <div class="grid-gallary-container">
                      <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-lg-4">
                      <div class="item1 item-div">
                        <div class="image-area">
                          <div class="img-wrapper">
                            <img src="assets/img/objectives/team.JPG" alt="Sunder gopal das" />
                            <div class="abc">
                              <h2>Sunder Gopal Das</h2>
                              <h4>President, Ethiccraft</h4>
                              <!-- <p>M.Tech IIT Delhi, Ex. Manager L&T</p> -->
                            </div>
                            <!-- <h3>President, Ethiccraft</h3>
                            <ul>
                                          <li><a href="https://github.com/atuljustano"><i class="fab fa-github"></i></a></li>
                                          <li><a href="https://www.instagram.com/atulkprajapati2000/"><i class="fab fa-instagram"></i></a></li>
                                          <li><a href="https://twitter.com/atuljustano"><i class="fab fa-twitter"></i></a></li>
                                          <li><a href="https://www.youtube.com/channel/UCf-KfxuY8PZBSD_8RW2nYsw"><i class="fab fa-youtube"></i></a></li>
                                        </ul> -->
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-lg-4">
                      <div class="img-item5 item-div">
                        <div class="image-area">
                          <div class="img-wrapper">
                            <img src="assets/img/objectives/ADMD.jpeg" alt="Atul Prajapati" />
                            <div class="abc">
                              <h2>Aravindaksha Madhava Das</h2>
                              <h4>Co-President of Ethiccraft Club</h4>
                              <!-- <p>B.Tech, Aeronautical Society of India</p> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-lg-4">
                      <div class="item2 item-div">
                        <div class="image-area">
                          <div class="img-wrapper">
                            <img src="assets/img/objectives/team2.jpg" />
                            <div class="abc">
                              <h2>Shivanshu Singh</h2>
                              <h4>Vice-President, Ethiccraft</h4>
                              <!-- <p>B.Tech Amity, HCL Technologies</p> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-lg-4">
                      <div class="img-item3 item-div">
                        <div class="image-area">
                          <div class="img-wrapper">
                            <img src="assets/img/objectives/vishal.jpg" alt="Vishal Yaduka" />
                            <div class="abc">
                              <h2>Vishal Yaduka</h2>
                              <h4>Executive-Head, Ethiccraft</h4>
                              <!-- <p>Economics(H), Delhi University</p> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-lg-4">
                      <div class="img-item4 item-div">
                        <div class="image-area">
                          <div class="img-wrapper">
                            <img src="assets/img/objectives/1.gif" alt="Atul Prajapati" />
                            <div class="abc">
                              <h2>Ravinder Kumar</h2>
                              <h4>Trustee, Ethiccraft</h4>
                              <!-- <p>B.Tech Punjab Technical University</p> -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-lg-4">
                      <div class="img-item5 item-div">
                        <div class="image-area">
                          <div class="img-wrapper">
                            <img src="assets/img/objectives/team6.jpg" alt="Atul Prajapati" />
                            <div class="abc">
                              <h2>Anuj Saxena</h2>
                              <h4>Legal Advisor, Ethiccraft</h4>
                              <p>Advocate, Supreme Court of India</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                      </div>
                    </div>
                  </section>
            </div>
          </div>
          <!-- ************************* our Faculties ************************************ -->
          <div id="menu5" class="tab-pane fade">
            <h3 class="our-faculties-heading">OUR <span>FACULTIES</span></h3>
            <div class="wrapper">
              <div class="team">
                <div class="team_member">
                  <div class="team_img">
                    <img
                      src="assets/img/objectives/Shivanshu.jpeg"
                      alt="Team_image"
                    />
                  </div>
                  <h3>Shivanshu Singh</h3>
                  <p class="role">Vice-President, Ethiccraft </p>
                </div>
                <div class="team_member">
                  <div class="team_img">
                    <img
                      src="assets/img/objectives/Gunjan.PNG"
                      alt="Team_image"
                    />
                  </div>
                  <h3>Gunjan Chowdhary</h3>
                  <p class="role">
                    Faculty IES-GATE, Made Easy, M. Tech IIT Delhi
                  </p>
                </div>
                <div class="team_member">
                  <div class="team_img">
                    <img
                      src="assets/img/objectives/Raja.PNG"
                      alt="Team_image"
                    />
                  </div>
                  <h3>Raja Kumar</h3>
                  <p class="role">Deputy Manager, Maruti Suzuki</p>
                </div>
                <div class="team_member">
                  <div class="team_img">
                    <img
                      src="assets/img/objectives/Abhinav.PNG"
                      alt="Team_image"
                    />
                  </div>
                  <h3>Abhinav Grover</h3>
                  <p class="role">Assistant Professor, JNU</p>
                </div>
                <div class="team_member">
                  <div class="team_img">
                    <img
                      src="assets/img/objectives/Ankit.jpeg"
                      alt="Team_image"
                    />
                  </div>
                  <h3>Ankit Aggarwal</h3>
                  <p class="role">CEO, Innovatiview</p>
                </div>
                <div class="team_member">
                  <div class="team_img">
                    <img
                      src="assets/img/objectives/Saxena.PNG"
                      alt="Team_image"
                    />
                  </div>
                  <h3>Anuj Sexana</h3>
                  <p class="role">
                    Advocate Supreme Court
                  </p>
                </div>
                <div class="team_member">
                  <div class="team_img">
                    <img
                      src="assets/img/objectives/Ankit-iit.jpeg"
                      alt="Team_image"
                    />
                  </div>
                  <h3>Ankit Malik</h3>
                  <p class="role">Ph.D. IIT Delhi, M.Tech IIT BHU</p>
                </div>
                <div class="team_member">
                  <div class="team_img">
                    <img src="assets/img/objectives/robin.jpg" alt="Team_image" />
                  </div>
                  <h3>Robin Batra</h3>
                  <p class="role">Co-founder, JBS Technologies Inc</p>
                </div>
                <!-- <div class="team_member">
                  <div class="team_img">
                    <img src="assets/img/objectives/1.gif" alt="Team_image">
                  </div>
                  <h3>Prashant Patel</h3>
                  <p class="role">Motivational Speaker, Business Coach</p>
                </div> -->
              </div>
            </div>
          </div>

<!-- ***************************** Find Club ******************************************
          <div id="menu6" class="tab-pane fade">
            <h3 class="our-findclub-heading">FIND ETHICCRAFT <span>CLUB</span></h3>
            <div class="findclub-container">
              <div class="caption">Find Club</div>
              <div id="table">
                <div class="header-row row">
                  <span class="cell primary">College Name</span>
                  <span class="cell">Compus Ambassador</span>
                  <span class="cell">Contact</span>
                  <span class="cell">Email</span>
                </div>
                <div class="row">
                  <input type="radio" name="expand" />
                  <span class="cell primary" data-label="Vehicle">1. iit Delhi</span>
                  <span class="cell" data-label="Exterior">Manoj</span>
                  <span class="cell" data-label="Interior">9354092497</span>
                  <span class="cell" data-label="Engine">Manojsinghal@gmail.com</span>
                </div>
                <div class="row">
                  <input type="radio" name="expand" />
                  <span class="cell primary" data-label="Vehicle">2. iit Delhi</span>
                  <span class="cell" data-label="Exterior">Manoj</span>
                  <span class="cell" data-label="Interior">9354092497</span>
                  <span class="cell" data-label="Engine">Manojsinghal@gmail.com</span>
                </div>
                <div class="row">
                  <input type="radio" name="expand" />
                  <span class="cell primary" data-label="Vehicle">3. iit Delhi</span>
                  <span class="cell" data-label="Exterior">Manoj</span>
                  <span class="cell" data-label="Interior">9354092497</span>
                  <span class="cell" data-label="Engine">Manojsinghal@gmail.com</span>
                </div>             
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
