<section class="sectionmodal" id="main">
  <a class="close-btn"
    ><img src="assets/img/causes/close_icon.png" routerLink="/home"
  /></a>
  <div class="container ">
    <div class="img-box ">
      <img src="assets/img/menu-revents/card3.jpg" class="card" alt="" />
    </div>
    <div class="modal1">
      <h1>MEMBERSHIP CAMPAIGN</h1>
      <div>
        <p id="p1">
          It is said ”When Competition turns into Contribution, everything
          becomes a Celebration.” This is the formula for long-term fulfilment
          and holistic growth. Life is like a game of tennis and one serves well
          ultimately wins the game. Hence, when a person gives his hand to some,
          he becomes handsome.
        </p>
        <p>
          Ethiccraft Club wishes to provide each and every individual of the
          country, an opportunity to become handsome and script a new story of
          transformation. It is an opportunity for all the energetic, wise
          youths to take a step forward towards becoming a member. Hurry up to
          get membership of the Ethiccraft club to avail all the valuable
          benefits from the club like – leadership training, one free-outing,
          certificates etc. Its free now just you need to fill the form. For
          details visit our website. For registration contact your campus
          ambassador or feel free to call #931-986-6696.
        </p>
        <p>
          <b><a routerLink="/joinus">JOIN US</a></b>
        </p>
        <p>
          Regards
          <br />
          Ethiccraft Club
        </p>
      </div>
    </div>
  </div>
</section>
