<div class="modal1">
  <div class="close-btn"><a routerLink="/recent events">Back</a></div>
  <h1>ETHICCRAFT CLUB LAUNCH</h1>
  <div>
    <p id="p1">
      Event – ETHICCRAFT CLUB LAUNCH<br />
      Series Date – April 5, 2019<br />
      Venue – Auditorium, RKGIT Ghaziabad.
    </p>
    <P>
      Ethiccraft Club achieved one more milestone when by the efforts of its
      sincere members in the institution, Raj Kumar Goel Institute of
      Technology, Ghaziabad gave permission to create separately Ethiccraft as a
      value awareness society of the institute.
    </P>
    <p>
      On <b>5th April 2019</b>, Grand inauguration ceremony of Ethiccraft
      society of RKGIT had been conducted in which <b>Shivanshu Singh Sir</b>,
      Vice-President of the Club was invited as Chief Guest. The whole program
      comprised of events including lamp lighting, felicitations, address by
      Director Sir and HODs about the importance of values. This was followed by
      a seminar on the topic” <b>Art of Decision Making</b>” by Shivanshu Singh
      Sir who enlightened the students about various principles which could
      empower them master the art of decision-making. Along with him, Puja
      Saxena Mam also attended the ceremony as Senior Executive Member of the
      Club. A large number of student enjoyed the seminar and want to conduct
      more similar sessions in the institute. The students also expressed their
      gratitude to the Club for taking this initiative towards youth
      Empowerment.
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-11 col-md-10 col-centered">
        <div
          id="carousel"
          class="carousel slide"
          data-ride="carousel"
          data-type="multi"
          data-interval="2500"
        >
          <div class="carousel-inner">
            <div class="item active">
              <div class="carousel-col">
                <div class="block red img-responsive">
                  <img src="assets/img/menu-revents/modal1-1.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block green img-responsive">
                  <img src="assets/img/menu-revents/modal1-2.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block blue img-responsive">
                  <img src="assets/img/menu-revents/modal1-3.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal1-4.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal1-5.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal1-6.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal1-7.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal1-8.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal1-9.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal1-10.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <div class="left carousel-control">
            <a href="#carousel" role="button" data-slide="prev">
              <span
                class="glyphicon glyphicon-chevron-left"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          <div class="right carousel-control">
            <a href="#carousel" role="button" data-slide="next">
              <span
                class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
