<section>
  <div class="container">
    <div class="row college_container">
      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 width-fix">
        <p class="College-heading">
          COLLEGES
          <span class="College-participated"><br />INVOLVED</span>
        </p>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <p class="colleges">{{ list[id1] }}</p>
      </div>
      <div class="col-xs-4 col-sm-2 col-md-2 col-lg-2">
        <p class="colleges">{{ list[id2] }}</p>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p class="colleges">{{ list[id3] }}</p>
      </div>
      <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p class="colleges">{{ list[id4] }}</p>
      </div>
      <div class="fix">
        <p class="College-heading">
          COLLEGES
          <span class="College-participated"><br />INVOLVED</span>
        </p>
        <p class="colleges">{{ list[id1] }}</p>
      </div>
    </div>
  </div>
</section>
