<div class="modal1">
  <div class="close-btn"><a routerLink="/recent events">Back</a></div>
  <h1>DE-ADDICTION CAMPAIGN | PRIZE DISTRIBUTION CEREMONY</h1>
  <div>
    <p id="p1">
      Event – PRIZE DISTRIBUTION CEREMONY<br />
      Date – 30th March 2019<br />
      Venue – Auditorium, ISKCON East of Kailash.<br />
      Participants:- 150+
    </p>
    <P>
      “When Competition turns into contribution, everything eventually becomes a
      celebration.” To celebrate the contribution of youth in the Anti-addiction
      campaign to make India addiction free, Ethiccraft Club organized the
      much-awaited
      <b>Prize Distribution Ceremony of Anti-Addiction Campaign</b>. The program
      was organized on <b>30th March 2019</b> at Auditorium of ISKCON Temple,
      Delhi.
    </P>
    <p>
      The program started with a welcome address by <b>Mr Shivanshu Singh</b>,
      Vice-President, Ethiccraft. This was followed by a drama on the theme of
      Anti-addiction by <b>Parinde Theatre Group</b> where they reiterated the
      urgency of spreading awareness about addictions among youth. Next was the
      welcome of dignitaries which included <b>Shri Pankaj Kumar</b>(Air
      India-Regional Director North India and MD, Hotel Corporation of India)
      and <b>Shri Sanjay Kumar</b>(Joint Secretary, HRD Ministry).
    </p>
    <p>
      After this, the dignitaries awarded gifts to Campus Ambassadors of
      different institutions for their wonderful efforts in making the campaign
      successful. This was followed by an inspirational presentation about the
      vision, mission and opportunities for contribution by
      <b>HG Sundar Gopal Das</b>, President Ethiccraft and
      <b>HG Ashraya Krishna Das</b>(Senior preacher, ISKCON). Next was a
      presentation on club membership by Vice-President Sir and distribution of
      gifts to the topper of each institution. In the last part of the program,
      the students interacted with team members of Ethiccraft Club and relished
      delicious lunch.
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-11 col-md-10 col-centered">
        <div
          id="carousel"
          class="carousel slide"
          data-ride="carousel"
          data-type="multi"
          data-interval="2500"
        >
          <div class="carousel-inner">
            <div class="item active">
              <div class="carousel-col">
                <div class="block red img-responsive">
                  <img src="assets/img/menu-revents/modal2-1.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block green img-responsive">
                  <img src="assets/img/menu-revents/modal2-2.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block blue img-responsive">
                  <img src="assets/img/menu-revents/modal2-3.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal2-4.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal2-5.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal2-6.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal2-7.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal2-8.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal2-9.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal2-10.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal2-11.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>

          <!-- Controls -->
          <div class="left carousel-control">
            <a href="#carousel" role="button" data-slide="prev">
              <span
                class="glyphicon glyphicon-chevron-left"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          <div class="right carousel-control">
            <a href="#carousel" role="button" data-slide="next">
              <span
                class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
