<div class="container-topic">
  <div class="edu-heading">
    <h3>VALUE <SPan>AWARENESS</SPan></h3>
  </div>
  <div class="v-e-topic">
    <p>
      Putting the seed of values in the life of the students by kindling
      interest in the values through life changing and basic value based
      seminars.
    </p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-6 v-e-topic">
      <h2>Values Awareness Phase Topics</h2>
      <ul>
        <li>Tree of Life—the Ice burg of success</li>
        <li>The Pencil Parable</li>
        <li>Life’s Amazing Secrets-10 Golden Keys</li>
        <li>Decoding Success</li>
        <li>Playing the Master Strokes of life</li>
        <li>Life on Two wheels</li>
        <li>Selfie Reclicked</li>
        <li>Secrets of Life Balance</li>
        <li>Life lessons from Titanic</li>
        <li>Mera Bharat Mahan</li>
        <li>Art of thinking Win Win</li>
        <li>Peace of Mind or Pieces of Mind</li>
        <li>Getting More Done in Less Time</li>
        <li>Winning the Game of Life</li>
        <li>Engineering a better World</li>
        <li>Love-the Ultimate reality</li>
        <li>Change Must Come from Within</li>
        <li>Adding Life to Lifestyle</li>
        <li>Small Things Make Big Difference</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-6 ">
      <div class="v-e-topic-img">
        <img src="assets/img/edu-training/value-awereour-mirror.png" alt="" />
      </div>
    </div>
  </div>
  <div class="bottom-div"></div>
</div>
