<div class="container-topic">
  <div class="edu-heading">
    <h3>VALUES<span> CULTIVATION</span></h3>
  </div>
  <div class="v-e-topic">
    <p>
      After the seed of values is sown and heart becomes fertile through
      knowledge transmission, the background is set for the cultivation phase
      which aims to help an individual cultivate the values in his life and
      embellish his personality.
    </p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-6 v-e-topic">
      <h2>Values Cultivation Phase Topics</h2>
      <ul>
        <li>3 Pillars of Trustworthy Character</li>
        <li>Making Heart Malleable</li>
        <li>Love and Cooperation Among leaders</li>
        <li>Accepting Responsibility</li>
        <li>The Magic Carpet for Relationships</li>
        <li>Compassion and care</li>
        <li>Integrity and Honesty</li>
        <li>Punctuality and Cleanliness</li>
        <li>Understanding Your Parents</li>
        <li>
          Responsible Citizenship—duties towards self-development, for others
          and community
        </li>
        <li>Art of Leading leaders</li>
        <li>Team Building and Responsibility sharing</li>
        <li>Attitude of Gratitude</li>
        <li>Social Dealings—Dealings with Seniors, Equals and Juniors</li>
        <li>Developing Respect and Gratitude</li>
        <li>Festival Meditations</li>
        <li>A LIFE OF Likes</li>
        <li>Simple Living, High thinking</li>
        <li>Overcoming Fear</li>
        <li>Overcoming Anger</li>
        <li>Managing Fear: Life’s Exams Fear and Fear of Expectations</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-6 ">
      <div class="v-e-topic-img">
        <img src="assets/img/edu-training/value-cultivation.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="bottom-div"></div>
</div>
