<div class="container">
  <div class="edu-traning-contender">
    <div class="edu-heading">
      <h3>EDUCATION & <span> TRAINING</span></h3>
    </div>
    <h2 class="phase-2">
      <i class="fa fa-check-square-o" aria-hidden="true">Phase-1</i>
    </h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 box1">
        <img
          class="img-box1"
          src="assets/img/edu-training/value-aweour.png"
          alt=""
        />
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="edu-containt">
          <div class="edu-h4">
            <h4>
              Values Awareness
            </h4>
          </div>
          <div class="edu-p">
            <p>
              Putting the seed of values in the life of the students by kindling
              interest in the values through life changing and basic value based
              seminars.
            </p>
          </div>
          <div class="edu-btn">
            <button
              routerLink="/education & training/phase1"
              class="btn btn-success"
            >
              Read More
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- phase-1 End -->
    <h2 class="phase-2">
      <i class="fa fa-graduation-cap" aria-hidden="true">Phase-2</i>
    </h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 box-2-img">
        <img
          class="img-box2"
          src="assets/img/edu-training/value-education.jpeg"
          alt=""
        />
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 box2">
        <div class="edu-containt-even">
          <div class="edu-h4-even">
            <h4>
              Values Education
            </h4>
          </div>
          <div class="p-even">
            <p>
              Once the interest is awakened, initialization of values in the
              life of the individual become the utmost need
            </p>
          </div>
          <div class="edu-btn-even">
            <button
              routerLink="/education & training/phase2"
              class="btn btn-success"
            >
              Read More
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- phase-2 end  -->
    <h2 class="phase-2">
      <i class="fa fa-heartbeat" aria-hidden="true">Phase-3</i>
    </h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 box3">
        <img
          class="img-box1"
          src="assets/img/edu-training/value-cultivation.jpg"
          alt=""
        />
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="edu-containt">
          <div class="edu-h4">
            <h4>
              Values Cultivation
            </h4>
          </div>
          <div class="edu-p">
            <p>
              After the seed of values is sown and heart becomes fertile through
              knowledge transmission, the background is set for
            </p>
          </div>
          <div class="edu-btn">
            <button
              routerLink="/education & training/phase3"
              class="btn btn-success"
            >
              Read More
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- phase-3 End -->
    <h2 class="phase-2">
      <i class="fa fa-handshake-o" aria-hidden="true">Phase-4</i>
    </h2>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 box-2-img">
        <img
          class="img-box2"
          src="assets/img/edu-training/value-action.jpg"
          alt=""
        />
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 box4">
        <div class="edu-containt-even">
          <div class="edu-h4-even">
            <h4>
              Values in Action
            </h4>
          </div>
          <div class="p-even">
            <p>
              While being empowered by necessary values in one’s life, youth
              becomes inspired to distribute the values for the benefit of
              others.
            </p>
          </div>
          <div class="edu-btn-even">
            <button
              routerLink="/education & training/phase4"
              class="btn btn-success"
            >
              Read More
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- phase-4 end  -->
  </div>
</div>
