<div class="modal1">
  <div class="close-btn"><a routerLink="/recent events">Back</a></div>
  <h1>LIVE INTER LEVEL QUIZ</h1>
  <div>
    <p id="p1">
      <br />
      Event- LIVE INTER LEVEL QUIZ<br />
      Date – 6th October, 2019<br />
      Venue – IGI Stadium.
    </p>
    <P>
      Growing menace of addictions is a cause of great concern for the society.
      The problem is so gruesome that if it is not tackled timely, it will
      gradually devour the future of the country. Understanding the urgency of
      the situation, Ethiccraft Club took this concern as a project and launched
      “Anti-Addiction Campaign” with the purpose of imparting awareness about
      self-destructive addictions. Under this campaign, at first level
      Intra-College<b> Anti-addiction Quiz</b> was conducted in institutions
      across India and top 3 scores of each institution were awarded prizes
      along with participation certificates to all the participants. At the
      second level, top 6 students among all the toppers were selected for
      Inter-college Quiz at Udgaar festival. The quiz was an intellectual battle
      among toppers locking horns to prove their awareness on the subject of
      addictions. The participants of Inter-college quiz were as follows:<br />
      1. Bablu----G.B. Pant Engineering College <br />
      2. Shruti Mishra—Daulat ram College <br />
      3.Radha Pandey----Raj Kumar Goel Institute of Technology, Ghaziabad<br />
      4. Harsh---Lal Bahadur Shastri Institute of Management<br />
      5. Md. Faizan---Campus Law Centre, DU <br />
      6. Nikhil---J.C. Bose University, Faridabad<br />
      The quiz was<b> hosted by RJ Ginnie</b>, the famous RJ from Radio City,
      official radio partner of Udgaar festival. The quiz saw a tough
      competition among all participants and after completion of two rounds, the
      second runner-up prize was secured by <b>Radha</b> . The first
      runnerPandey up prize was secured by <b>Shruti Mishra</b> of Daulat Ram
      College and <b>Bablu</b> from G.B. Pant Engineering College emerged as the
      winner of the Inter-College quiz to secure a Honda Activa Scooty. All the
      winners were awarded on stage by
      <b>Dr. Harshvardhan, Minister of Health and Family Welfare</b> who was the
      Chief Guest on the occasion.
    </P>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-11 col-md-10 col-centered">
        <div
          id="carousel"
          class="carousel slide"
          data-ride="carousel"
          data-type="multi"
          data-interval="2500"
        >
          <div class="carousel-inner">
            <div class="item active">
              <div class="carousel-col">
                <div class="block red img-responsive">
                  <img src="assets/img/menu-revents/modal23-1.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block green img-responsive">
                  <img src="assets/img/menu-revents/modal23-2.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block blue img-responsive">
                  <img src="assets/img/menu-revents/modal23-3.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal23-4.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal23-5.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal23-6.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal23-7.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal23-8.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal23-9.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal23-10.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal23-11.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal23-12.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal23-13.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal23-14.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal23-15.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal23-16.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal23-17.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- Controls -->
          <div class="left carousel-control">
            <a href="#carousel" role="button" data-slide="prev">
              <span
                class="glyphicon glyphicon-chevron-left"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          <div class="right carousel-control">
            <a href="#carousel" role="button" data-slide="next">
              <span
                class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
