<div class="modal1">
  <div class="close-btn"><a routerLink="/recent events">Back</a></div>
  <h1>Viplava - Mega Youth Fest, 2023</h1>
  <div>
    <p id="p1">
      <br />
      <br />
      DATE: 20th October, 2023<br />
      VENUE: Govardhan Hills, Uttar-Pradesh, India.
    </p>
    <P>
      In a follow up program owf the conference on <b>Stress Management</b> at
      Delhi University, Ethiccraft Club organized one workshop on Stress
      Management Skills at Ram Lal Anand College, South Campus Delhi University
      on <b>22nd October, 2019</b>. The workshop was delivered by
      <b>Anuj Saxena Sir</b>, Adv Supreme Court of India and
      <b>Shivanshu Singh Sir</b>, Vice-president, Ethiccraft. In the workshop,
      Anuj Sir delineated mentioned some valuable principles in dealing with
      stress and leading a happy life. In the second part, Shivanshu Sir told
      some practical tips for coping up with stress. Principal sir and Rita Jain
      madam, overall coordinator of the workshop also attended the whole program
      with some other faculty members.
    </P>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-11 col-md-10 col-centered">
        <div
          id="carousel"
          class="carousel slide"
          data-ride="carousel"
          data-type="multi"
          data-interval="2500"
        >
          <div class="carousel-inner">
            <div class="item active">
              <div class="carousel-col">
                <div class="block red img-responsive">
                  <img src="assets/img/Revent/Viplava/5.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block green img-responsive">
                  <img src="assets/img/Revent/Viplava/4.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block blue img-responsive">
                  <img src="assets/img/Revent/Viplava/1.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/Revent/Viplava/2.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/Revent/Viplava/3.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/Revent/Viplava/6.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- Controls -->
          <div class="left carousel-control">
            <a href="#carousel" role="button" data-slide="prev">
              <span
                class="glyphicon glyphicon-chevron-left"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          <div class="right carousel-control">
            <a href="#carousel" role="button" data-slide="next">
              <span
                class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
