<div class="modal1">
  <div class="close-btn"><a routerLink="/recent events">Back</a></div>
  <h1>ORIENTATION PROGRAM AT RKGIT</h1>
  <div>
    <p id="p1">
      <br />
      Event- ORIENTATION PROGRAM AT RKGIT <br />
      Date – 21st August, 2019<br />
      Venue – National Institute of Food Technology Entrepreneurship and
      Management.
    </p>
    <P>
      With the sincere efforts of the volunteers and members of the institution,
      Ethiccraft Club conducted an Orientation Program for newly joined students
      of under-graduates courses at<b>
        National Institute of Food Technology Entrepreneurship and Management</b
      >
      on <b>21st August, 2019</b>. The event was a part of the fortnight long
      orientation program conducted by the NIFTEM Campus. The event witnessed
      two seminars by the Club. The first seminar on the topic"<b>
        Power of Habits</b
      >" was delivered by <b>Shivanshu Singh Sir</b>, Vice-President of Club. In
      the seminar, Sir very systematically explained the vicious cycle of
      addictions through examples, case-studies and stories. In the second part,
      a seminar on "<b>Developing Human Values</b>" portraying the importance of
      cultivating was delivered by <b>Mr. Raja Kumar</b>, Deputy-Manager Maruti
      Suzuki. The event saw a footfall of more than <b>200 students</b> and many
      of them even registered for upcoming Udgaar festival.
    </P>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-11 col-md-10 col-centered">
        <div
          id="carousel"
          class="carousel slide"
          data-ride="carousel"
          data-type="multi"
          data-interval="2500"
        >
          <div class="carousel-inner">
            <div class="item active">
              <div class="carousel-col">
                <div class="block red img-responsive">
                  <img src="assets/img/menu-revents/modal15-1.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block green img-responsive">
                  <img src="assets/img/menu-revents/modal15-2.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block blue img-responsive">
                  <img src="assets/img/menu-revents/modal15-3.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal15-4.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal15-5.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal15-6.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal15-7.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- Controls -->
          <div class="left carousel-control">
            <a href="#carousel" role="button" data-slide="prev">
              <span
                class="glyphicon glyphicon-chevron-left"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          <div class="right carousel-control">
            <a href="#carousel" role="button" data-slide="next">
              <span
                class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
