<div class="container">
  <h2 class="get-heading">GET <span>INVOLVED</span></h2>
  <div class="get-involved-p">
    <p class="intro-get-p">
      Albert Einstein Said, ’Life is like riding a bicycle; to keep the balance
      one has to keep moving.’ For most people, there is no time to stop to
      learn how to maintain good relationships, how to become effective leaders,
      how to manage complications in life, and so on and so forth. They are
      always on the bicycle of life. Thus, they actually go through life while
      caring very little for growing through life. Growing through life happens
      by learning and this learning facilitates the holistic growth of the
      individual and society. Thus, any effort to help retain the balance is
      always welcome.
    </p>
    <p class="intro-get-p">
      In this direction, the role of youths is of topmost importance. Youths
      possesses that energy and potential to work out an extra edge as compared
      to other age groups. This gives leaders a great opportunity to effectively
      utilize young lads to empower country towards success. This opportunity
      can be capitalized if the powers of the youth is harnessed properly. Just
      as when the atomic energy is harnessed properly, it can resolve all energy
      related issues within the country. Similarly, if the youth energy is
      harnessed properly we can’t even imagine the outcome it can bring.
      Therefore, it is very important to realize the youth power and utilize it
      effectively. All we need is to direct the energy of our youth in
      constructive channels that lead to development and progress.
    </p>
    <p class="intro-get-p">
      As an initiative towards youth development and empowerment, Ethiccraft
      club offers membership opportunities to talented and energetic youths of
      the country. Come and become instrumental in exhibiting that enthusiasm
      and determination which may script the dawn of new era filled with
      constructive, peace-loving and selfless personalities and make the world a
      beautiful peace to live..'
    </p>
  </div>
  <div class="member-benifits">
    <h3>
      Benefits of Club Membership:
    </h3>
    <p>
      1.<b>Awards and Certificates</b> — The members of the club would be
      felicitated with awards and certificates for their contribution in the
      club activities. The students can use these certificates with their
      resumes or curriculum vitae.
    </p>
    <p>
      2.<b>Big Scale Recognition</b> — Special performers of the club would get
      an opportunity to be rewarded in upcoming Youth Festival by President/
      Prime Minister and other dignitaries.
    </p>
    <p>
      3.<b>Leadership Training</b> — As an individual, a youth will get an
      opportunity to get trained in leadership roles which will help one embark
      on the path of success.
    </p>
    <p>
      4.<b>Interaction with eminent personalities</b> — The membership will also
      bless a member to get learning opportunities from eminent and successful
      personalities all across the globe and grow oneself.
    </p>
    <p>
      5.<b>Leadership in college/universities</b> — The member would emerge as
      the leader in his institution due to his involvement with the club.
    </p>
    <p>
      6.<b>Opportunity for Contribution</b> — The Club aims to provide its
      members an opportunity to contribute towards social and national
      development and experience a sense of self-fulfilment by helping and
      serving people in need.
    </p>
  </div>

  <div class="card-div">
    <div class="img-div">
      <img src="assets/img/getinvolved/member5.jpg" alt="" />
    </div>
    <h3>Member</h3>
    <p>
      Ethiccraft members are the youths who are connected with the club
      activities at some level. These may include youths from colleges, coaching
      or professional background. Members of Ethiccraft Club are expected to
      volunteer for the different programs conducted by club in order to ensure
      smooth conduct events
    </p>
    <button
      routerLink="/members"
      type="button"
      class="btn btn-primary btn-block"
    >
      Read More
    </button>
  </div>
  <div class="card-div">
    <div class="img-div">
      <img src="assets/img/getinvolved/CA-1.jpg" alt="" />
    </div>
    <h3>Campus Ambassador</h3>
    <p>
      As part of spreading its youths outreach, Ethiccraft Club wishes to create
      campus ambassadors for the colleges. The Value Education Ambassadors is a
      leadership opportunity for students who are dedicated to serving and
      representing Ethiccraft Club in college.
    </p>
    <button
      routerLink="/ambassador"
      type="button"
      class="btn btn-primary btn-block"
    >
      Read More
    </button>
  </div>
  <div class="card-div">
    <div class="img-div">
      <img src="assets/img/getinvolved/EEO.jpg" alt="" />
    </div>
    <h3>Ethiccraft Executive Officer</h3>

    <p>
      Execution Committee is meant to prepare the layout and structure of the
      overall planning and ensure the execution of policies at ground level.
      Execution Committee with a team of thoughtful and selfless youths is
      expected to help the college volunteers of Ethiccraft Club
    </p>
    <button
      routerLink="/officer"
      type="button"
      class="btn btn-primary btn-block "
    >
      Read More
    </button>
  </div>
</div>
