<div class="container-topic">
  <div class="edu-heading">
    <h3>VALUES IN <span> ACTION</span></h3>
  </div>
  <div class="v-e-topic">
    <p>
      While being empowered by necessary values in one’s life, youth becomes
      inspired to distribute the values for the benefit of others. This phase
      aims to increase youth participation in the value distribution activities
      and make them instrumental in the attempt of adding an iota of value in
      the life of people.
    </p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-6 v-e-topic">
      <h2>Values in Action Phase Topics</h2>
      <ul>
        <li>Great role of great soul</li>
        <li>Missionary Spirit-Working for the welfare of others</li>
        <li>Lifestyle of a role-model Teacher</li>
        <li>Let’s make People Better</li>
        <li>Selfless motives for a Higher Cause</li>
        <li>Modelling Thoughts and Actions</li>
        <li>Rekindling Wisdom, Reviving love</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-6 ">
      <div class="v-e-topic-img">
        <img src="assets/img/edu-training/value-action.jpg" alt="" />
      </div>
    </div>
  </div>
  <div class="bottom-div"></div>
</div>
