<section>
  <div class="sectionmodal" id="main">
    <div class="my-container ">
      <div class="img-box ">
        <img src="{{ image }}" class="card" alt="" />
      </div>
      <app-model0 *ngIf="id === '0'"></app-model0>
      <app-model1 *ngIf="id === '1'"></app-model1>
      <app-model2 *ngIf="id === '2'"></app-model2>
      <app-model3 *ngIf="id === '3'"></app-model3>
      <app-model4 *ngIf="id === '4'"></app-model4>
      <app-model5 *ngIf="id === '5'"></app-model5>
      <app-model6 *ngIf="id === '6'"></app-model6>
      <app-model7 *ngIf="id === '7'"></app-model7>
      <app-model8 *ngIf="id === '8'"></app-model8>
      <app-model9 *ngIf="id === '9'"></app-model9>
      <app-model10 *ngIf="id === '10'"></app-model10>
      <app-model11 *ngIf="id === '11'"></app-model11>
      <app-model12 *ngIf="id === '12'"></app-model12>
      <app-model13 *ngIf="id === '13'"></app-model13>
      <app-model14 *ngIf="id === '14'"></app-model14>
      <app-model15 *ngIf="id === '15'"></app-model15>
      <app-model16 *ngIf="id === '16'"></app-model16>
      <app-model17 *ngIf="id === '17'"></app-model17>
      <app-model18 *ngIf="id === '18'"></app-model18>
      <app-model19 *ngIf="id === '19'"></app-model19>
      <app-model20 *ngIf="id === '20'"></app-model20>
      <app-model21 *ngIf="id === '21'"></app-model21>
      <app-model22 *ngIf="id === '22'"></app-model22>
      <app-model23 *ngIf="id === '23'"></app-model23>
      <app-model24 *ngIf="id === '24'"></app-model24>
      <app-model25 *ngIf="id === '25'"></app-model25>
      <app-model26 *ngIf="id === '26'"></app-model26>
      <app-model27 *ngIf="id === '27'"></app-model27>
      <app-model28 *ngIf="id === '28'"></app-model28>
      <app-model29 *ngIf="id === '29'"></app-model29>
      <app-model30 *ngIf="id === '30'"></app-model30>
      <app-model31 *ngIf="id === '31'"></app-model31>
      <app-model32 *ngIf="id === '32'"></app-model32>
    </div>
  </div>
</section>
