<div class="college-home">
  <div class="container">
    <div class="column1">
      <img src="assets\img\colleges\delhi-univ.png" alt="" />
    </div>
    <div class="column2">
      <h1 class="clg-name">
        <img src="assets\img\college-logo\du.png" alt="" /> Delhi University
      </h1>
      <li class="list-item">NAAC A+</li>
      <li class="list-item">City : Delhi</li>
      <li class="list-item">Ethiccraft Students:500</li>

      <button class="visit-btn">Visit</button>
    </div>
  </div>
</div>
<div class="college-home">
  <div class="container">
    <div class="column1">
      <img src="assets\img\colleges\JC-Bose-Ust.png" alt="" />
    </div>
    <div class="column2">
      <h1 class="clg-name">
        <img src="assets\img\college-logo\jcbose.jpg" alt="" /> J.C. Bose
        University
      </h1>
      <li class="list-item">NAAC A+</li>
      <li class="list-item">City: Faridabad</li>
      <li class="list-item">Ethiccraft Students:400</li>

      <button class="visit-btn">Visit</button>
    </div>
  </div>
</div>
<div class="college-home">
  <div class="container">
    <div class="column1">
      <img src="assets\img\colleges\Acharya_Narendra_Dev_College.jpeg" alt="" />
    </div>
    <div class="column2">
      <h1 class="clg-name">
        <img src="assets\img\college-logo\Acharya_Narendra_Dev_College_Logo.png" alt="" /> Acharya Narendra Dev College 
      </h1>
      <li class="list-item">NAAC A+</li>
      <li class="list-item">City: Delhi</li>
      <li class="list-item">Ethiccraft Students:400</li>

      <button class="visit-btn">Visit</button>
    </div>
  </div>
</div>
<div class="college-home">
  <div class="container">
    <div class="column1">
      <img src="assets\img\colleges\Aditi-Mahavidyalaya.jpeg" alt="" />
    </div>
    <div class="column2">
      <h1 class="clg-name">
        <img src="assets\img\college-logo\Aditi-Mahavidyalaya.png" alt="" /> Aditi Mahavidyalaya Delhi </h1>
      <li class="list-item">NAAC A+</li>
      <li class="list-item">City: Delhi</li>
      <li class="list-item">Ethiccraft Students:400</li>
      <button class="visit-btn">Visit</button>
    </div>
  </div>
</div>
<div class="college-home">
  <div class="container">
    <div class="column1">
      <img src="assets\img\colleges\Aryabhatta_Degree_Collegedf.avif" alt="" />
    </div>
    <div class="column2">
      <h1 class="clg-name">
        <img src="assets\img\college-logo\Aryabhatta_Degree_Collegedf_logo.png" alt="" /> Aryabhatta College Benito Juarez Road        
      </h1>
      <li class="list-item">NAAC A+</li>
      <li class="list-item">City: Delhi</li>
      <li class="list-item">Ethiccraft Students:400</li>

      <button class="visit-btn">Visit</button>
    </div>
  </div>
</div>
<div class="college-home">
  <div class="container">
    <div class="column1">
      <img src="assets\img\colleges\Atma_Ram_Sanatan_Dharma_Clg_Delhi.png" alt="" />
    </div>
    <div class="column2">
      <h1 class="clg-name">
        <img src="assets\img\college-logo\Atma_Ram_Sanatan_Dharma_Clg_Delhi_logo.png" alt="" /> Atma Ram Sanatan Dharma Clg Delhi 
      </h1>
      <li class="list-item">NAAC A+</li>
      <li class="list-item">City: Delhi</li>
      <li class="list-item">Ethiccraft Students:400</li>

      <button class="visit-btn">Visit</button>
    </div>
  </div>
</div>
<div class="college-home">
  <div class="container">
    <div class="column1">
      <img src="assets\img\colleges\bhagini_nivedita_college_delhi.png" alt="" />
    </div>
    <div class="column2">
      <h1 class="clg-name">
        <img src="assets\img\college-logo\bhagini_nivedita_college_delhi_logo.jpeg" alt="" /> Bhagini Nivedita College Delhi        
      </h1>
      <li class="list-item">NAAC A+</li>
      <li class="list-item">City: Delhi</li>
      <li class="list-item">Ethiccraft Students:400</li>

      <button class="visit-btn">Visit</button>
    </div>
  </div>
</div>
<div class="college-home">
  <div class="container">
    <div class="column1">
      <img src="assets\img\colleges\Bharati_College_Delhi.png" alt="" />
    </div>
    <div class="column2">
      <h1 class="clg-name">
        <img src="assets\img\college-logo\Bharati_College_Delhi_logo.jpg" alt="" /> Bharati College Delhi        
      </h1>
      <li class="list-item">NAAC A+</li>
      <li class="list-item">City: Faridabad</li>
      <li class="list-item">Ethiccraft Students:400</li>

      <button class="visit-btn">Visit</button>
    </div>
  </div>
</div>
