<div class="college-home">
<div class="container">
  <div class="column1">
    <img src="assets\img\college-logo\du.png" alt="">
  </div>
<div class="column2">
  <h1>Delhi University</h1>
    <li>NAAC A+</li>
    <li>City : Delhi</li>
    <li>Ethiccraft Students:500</li>
    
    <button>Visit</button>

  </div>
</div>
</div>
<div class="college-home">
<div class="container">
  <div class="column1">
    <img src="assets\img\college-logo\jcbose.jpg" alt="">
  </div>
<div class="column2">
  <h1>J.C. Bose University</h1>
    <li>NAAC A+</li>
    <li>City: Faridabad</li>
    <li>Ethiccraft Students:400</li>
  
    <button>Visit</button>
</div>
</div>

</div>