<div class="college-home">
  <div class="container">
    <div class="column1">
      <img src="assets\img\colleges\delhi-univ.png" alt="" />
    </div>
    <div class="column2">
      <h1>
        <img src="assets\img\college-logo\du.png" alt="" /> Delhi University
      </h1>
      <li>NAAC A+</li>
      <li>City : Delhi</li>
      <li>Ethiccraft Students:500</li>

      <button>Visit</button>
    </div>
  </div>
</div>
<div class="college-home">
  <div class="container">
    <div class="column1">
      <img src="assets\img\colleges\JC-Bose-Ust.png" alt="" />
    </div>
    <div class="column2">
      <h1>
        <img src="assets\img\college-logo\jcbose.jpg" alt="" /> J.C. Bose
        University
      </h1>
      <li>NAAC A+</li>
      <li>City: Faridabad</li>
      <li>Ethiccraft Students:400</li>

      <button>Visit</button>
    </div>
  </div>
</div>
<div class="college-home">
  <div class="container">
    <div class="column1">
      <img src="assets\img\colleges\Acharya_Narendra_Dev_College.jpeg" alt="" />
    </div>
    <div class="column2">
      <h1>
        <img src="assets\img\college-logo\Acharya_Narendra_Dev_College_Logo.png" alt="" /> Acharya Narendra Dev College 
      </h1>
      <li>NAAC A+</li>
      <li>City: Delhi</li>
      <li>Ethiccraft Students:400</li>

      <button>Visit</button>
    </div>
  </div>
</div>
<div class="college-home">
  <div class="container">
    <div class="column1">
      <img src="assets\img\colleges\Aditi-Mahavidyalaya.jpeg" alt="" />
    </div>
    <div class="column2">
      <h1>
        <img src="assets\img\college-logo\jcbose.jpg" alt="" /> Aditi Mahavidyalaya Delhi </h1>
      <li>NAAC A+</li>
      <li>City: Delhi</li>
      <li>Ethiccraft Students:400</li>
      <button>Visit</button>
    </div>
  </div>
</div>
<div class="college-home">
  <div class="container">
    <div class="column1">
      <img src="assets\img\colleges\JC-Bose-Ust.png" alt="" />
    </div>
    <div class="column2">
      <h1>
        <img src="assets\img\college-logo\jcbose.jpg" alt="" /> Aryabhatta College Benito Juarez Road        
      </h1>
      <li>NAAC A+</li>
      <li>City: Delhi</li>
      <li>Ethiccraft Students:400</li>

      <button>Visit</button>
    </div>
  </div>
</div>
<div class="college-home">
  <div class="container">
    <div class="column1">
      <img src="assets\img\colleges\JC-Bose-Ust.png" alt="" />
    </div>
    <div class="column2">
      <h1>
        <img src="assets\img\college-logo\jcbose.jpg" alt="" /> Atma Ram Sanatan Dharma Clg Delhi 
      </h1>
      <li>NAAC A+</li>
      <li>City: Delhi</li>
      <li>Ethiccraft Students:400</li>

      <button>Visit</button>
    </div>
  </div>
</div>
<div class="college-home">
  <div class="container">
    <div class="column1">
      <img src="assets\img\colleges\JC-Bose-Ust.png" alt="" />
    </div>
    <div class="column2">
      <h1>
        <img src="assets\img\college-logo\jcbose.jpg" alt="" /> Bhagini Nivedita College Delhi        
      </h1>
      <li>NAAC A+</li>
      <li>City: Delhi</li>
      <li>Ethiccraft Students:400</li>

      <button>Visit</button>
    </div>
  </div>
</div>
<div class="college-home">
  <div class="container">
    <div class="column1">
      <img src="assets\img\colleges\JC-Bose-Ust.png" alt="" />
    </div>
    <div class="column2">
      <h1>
        <img src="assets\img\college-logo\jcbose.jpg" alt="" /> Bharati College Delhi        
      </h1>
      <li>NAAC A+</li>
      <li>City: Faridabad</li>
      <li>Ethiccraft Students:400</li>

      <button>Visit</button>
    </div>
  </div>
</div>
