<div class="container">
  <div class="">
    <img src = "../../assets/img/Campus-Ambassador.jpg"
         style="width: 50%; height: 50%; margin: 1.25rem auto 4rem; display: block;" />
  </div>
  <!-- <div class="ca-heading">
    <h3>CAMPUS <span>AMBASSADOR</span></h3>
  </div> -->
  <!-- <div class="ca-sub">
    <p>Campus Ambassador</p>
  </div> -->
  <div class="ca-p">
    <p>
      As part of spreading its youths outreach, Ethiccraft Club wishes to create
      campus ambassadors for the colleges. The Value Education Ambassadors is a
      leadership opportunity for students who are dedicated to serving and
      representing Ethiccraft Club in college. Value Education Ambassadors serve
      as a club representative inside the College and is expected to lead and
      perform duties at various campus and community events of the institution.
    </p>
  </div>
  <div class="ca-sub">
    <p>
      Value EDucation AMbassadors(VEDAM) Responsibilities
    </p>
  </div>
  <div class="ca-p">
    <ul>
      <li>
        Represent and lead the Club during college events.
      </li>
      <li>
        Head the meetings of the club members inside the college.
      </li>
      <li>
        Inspire the club members in the college for leadership roles.
      </li>
      <li>
        Prepare activities chart of the club for the college.
      </li>
      <li>
        Take initiative for conducting various events inside the college.
      </li>
    </ul>
  </div>
  <div class="ca-sub">
    <p>
      VEDAM Membership Standards
    </p>
  </div>
  <div class="ca-p">
    <p>
      <b>
        1. Currently Enrolled College Student-
      </b>
      The student must be a currently enrolled student of the college and be an
      active student of the college.
    </p>
    <p>
      <b>2. Strong Academics- </b>The VEDAM must possess strong academic
      background with excellence in education as well as extra-curricular
      activities.
    </p>
    <p>
      <b>3. Position Commitment-</b>The position of VEDAM has a one academic
      year commitment. Student Ambassador is expected to continue with the
      responsibility for at least one full academic year.
    </p>
    <p>
      <b>4. Communication skills—</b>The Value Education Ambassador (VEDAM) must
      demonstrate strong communication (written and verbal) and interpersonal
      skills due to increasing importance of soft skills in leadership and
      management.
    </p>
    <p>
      <b>5. Character and Competence-</b>The VEDAM must exhibit leadership,
      initiative, dependability, discipline and enthusiasm to win trust of
      people and become a role model in the institution.
    </p>
  </div>
  <button
    type="button"
    class="btn btn-primary btn-block ca-join-btn"
    (click)="onJoin()"
  >
    Join as CampusAmbassador
  </button>
</div>
