<section class="sectionmodal" id="main">
  <a class="close-btn"
    ><img src="assets/img/causes/close_icon.png" routerLink="/home"
  /></a>
  <div class="container ">
    <div class="img-box ">
      <img src="assets/img/upcoming/card4.jpeg" class="card" alt="" />
    </div>
    <div class="modal1">
      <h1>Stress Management</h1>
      <div>
        <p id="p1">
          21st October 2019, the club is organizing a special Workshop on Stress
          Management for DME Law College, Noida Students and also on the same
          day, Ethiccraft Club is signing an MOU with DME through which the Club
          will get officiate as a part of DME <br />

          _Chief Guest for this particular event will be Shivanshu Sir,
          Vice-president Ethiccraft Club. Sir would brief students about Stress
          Management which will be followed by many more fun filled events like
          drama, appreciation certificate distribution and all.
        </p>
      </div>
    </div>
  </div>
</section>
