<div class="container-topic">
  <div class="edu-heading">
    <h3>VALUES <span>EDUCATION</span></h3>
  </div>
  <div class="v-e-topic">
    <p>
      Once the interest is awakened, initialization of values in the life of the
      individual become the utmost need which can be achieved through systematic
      knowledge transmission.
    </p>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6 col-6 v-e-topic">
      <h2>Values Education Phase Topics</h2>
      <ul>
        <li>Knowing Values to Develop values</li>
        <li>Absolute Necessity of Value Education</li>
        <li>Decoding Success</li>
        <li>3 Point Success Formula</li>
        <li>PARTHA-The Success Formula</li>
        <li>Character and Competence</li>
        <li>Balance IQ, EQ and SQ</li>
        <li>Get Offline and Grow</li>
        <li>Faithology</li>
        <li>Personality Development</li>
        <li>8 Practical Tips for Positive Thinking</li>
        <li>Art of Becoming Happy</li>
        <li>Art of Decision Making</li>
        <li>Managing Distractions</li>
        <li>Getting out of Comfort Zone</li>
        <li>Life Lessons from Great Personalities</li>
        <li>Choosing and Keeping Friends</li>
        <li>Time Management</li>
        <li>Lifestyle Management</li>
      </ul>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-6 ">
      <div class="v-e-topic-img">
        <img src="assets/img/edu-training/value-education.jpeg" alt="" />
      </div>
    </div>
  </div>
  <div class="bottom-div"></div>
</div>
