<div class="modal1">
  <div class="close-btn"><a routerLink="/recent events">Back</a></div>
  <h1>7 SESSION SEMINAR SERIES</h1>
  <div>
    <p id="p1">
      <br />
      Event- 7 SESSION SEMINAR SERIES <br />
      Date – 28th January to 2nd February<br />
      Venue – AV Room, Bhaskaracharya College.
    </p>
    <P>
      With the motto” Marching towards Values”, Ethiccraft Club conducted a<b>
        7 seminar series at the Bhaskaracharya College of Applied Sciences</b
      >. The event, conducted by Ethiccraft Club in collaboration with
      Bhaskaracharya Cell on the
      <b
        >occasion of Bhaskaracharya week from 28th January to 2nd February
        2019</b
      >
      was a step-forward towards imparting values among youth. On the first day,
      <b>HG Sundar Gopal Das</b>, President Ethiccraft enlightened the students
      on the topic” <b>Extracts from Life of Bhaskaracharya</b>.” In the second
      half, <b>Mr Shivanshu Singh</b>, Vice-President Ethiccraft shed light on
      the topic”<b>Ethics from Epics</b>.” On 29th January,
      <b>HG Amogha Lila Das</b>, Vice_President ISKCON Dwarka delivered a
      mesmerizing seminar on ”
      <b>Unravelling the Glorious Ancient Indian Education</b>. This was
      followed by a knowledge enriching seminar on topic”
      <b>Secrets of Success</b>” by <b>Mr Abhinav Grover</b>, Assistant
      professor JNU.
    </P>
    <P>
      While the intellectual journey was becoming more and more interesting, the
      next seminar on the topic”<b> Science and Spirituality”</b> was delivered
      by <b>Mr Deepak Meena</b>, alumni IIT Delhi. On 1st Feb, students got an
      opportunity to hear from <b>HG Aravindakasha Madhav das</b> on the topic”
      <b>Life on Two Wheels</b>.” on the last day of 7 seminar series,
      <b>HG Sundar Gopal Das</b> delivered the seminar on the topic”<b
        >Wake Up Indian! Discover Your Glories</b
      >.” This was followed by a presentation on Ethiccraft Club, its mission,
      its event and upcoming events especially the De-addiction Campaign
      starting from 8th February 2019.
    </P>
    <P>
      This initiative by Ethiccraft Club in the college premises will surely
      help the students of the college to become empowered with wisdom. The
      event earned lots of appreciation from students and the testimonial of
      fact is that more than <b>120 students</b> attended the seminar series.
    </P>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-11 col-md-10 col-centered">
        <div
          id="carousel"
          class="carousel slide"
          data-ride="carousel"
          data-type="multi"
          data-interval="2500"
        >
          <div class="carousel-inner">
            <div class="item active">
              <div class="carousel-col">
                <div class="block red img-responsive">
                  <img src="assets/img/menu-revents/modal6-1.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block green img-responsive">
                  <img src="assets/img/menu-revents/modal6-2.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block blue img-responsive">
                  <img src="assets/img/menu-revents/modal6-3.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal6-4.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal6-5.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal6-6.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal6-7.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- Controls -->
          <div class="left carousel-control">
            <a href="#carousel" role="button" data-slide="prev">
              <span
                class="glyphicon glyphicon-chevron-left"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          <div class="right carousel-control">
            <a href="#carousel" role="button" data-slide="next">
              <span
                class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
