<div class="container">
  <div class="eeo-content">
    <div class="eeo-heading">
      <h3>ETHICCRAFT EXECUTIVE COMMITTEE<span> MEMBER</span></h3>
    </div>
    <div class="eeo-sub">
      <p>Executive Committee Member (EEO)</p>
    </div>
    <div class="eeo-p">
      <p>
        Execution Committee is meant to prepare the layout and structure of the
        overall planning and ensure the execution of policies at ground level.
        Execution Committee with a team of thoughtful and selfless youths is
        expected to help the college volunteers of Ethiccraft Club if they face
        any difficulties in the implementation. Team has been created with the
        sincere desire of helping people march towards values and ensure the
        holistic development of the society.
      </p>
    </div>
    <div class="eeo-sub">
      <p>
        Becoming Execution Committee Members
      </p>
    </div>
    <div class="eeo-sub">
      <p>
        Responsibilities
      </p>
    </div>
    <div class="eeo-p">
      <ul>
        <li>
          Planning layout and structure of the policies and ensuring timely
          implementation.
        </li>
        <li>Ensuring regular meeting and gathering of club members</li>
        <li>
          Training the college volunteers in leadership and management.
        </li>
        <li>Ensuring regular activities inside college campus.</li>
      </ul>
    </div>
    <div class="eeo-sub">
      <p>Execution Committee Standards</p>
    </div>
    <div class="eeo-p">
      <p>
        <b>1.Selfless Service Spirit—</b>The committee members must be imbued
        with a selfless service spirit and a sincere desire to bring about a
        positive transformation. This is of topmost importance.
      </p>
      <p>
        <b>2.Inspirational leadership—</b>Committee members are required to be
        exemplary in their dealings and behaviour in order to inspire people and
        infuse a spirit of service with dedication and joy.
      </p>
      <p>
        <b>3.Professionalism with dedication—</b>The members are expected that
        they exhibit a strong sense of responsibility towards completion of the
        tasks in hand and complete them on the stipulated deadline.
      </p>
      <p>
        <b>4.Care and Counselling—</b>The Execution Committee members are a
        natural leaders for people of different colleges therefore they are
        expected to care for the Needs, Interests, Concerns and
        Expectation(NICE) of them and provide personalized mentorship to the
        students in their crucial phase of life.
      </p>
    </div>
    <button
      type="button"
      class="btn btn-primary btn-block eeo-join-btn"
      (click)="onJoin()"
    >
      Join as Ethiccraft Executive Officer
    </button>
  </div>
</div>
