<section class="myContainer">
  <div class="container row re-container">
    <div class="col-xs-12 col-sm-4 ">
      <div class="content-wrap">
        <h6 class="R-hadding">RECENT</h6>
        <p class="event-text">EVENTS</p>
        <p
          class="re-text text-justify text-uppercDANCE BY PRINCE DANCE GROUPase"
        >
          One of the best ways to make yourself happy in the present is to
          recall happy times from the past. Photos are a great memory-prompt and
          because we tend to take photos of happy occasions, they weight our
          memories to the good.<br />
          - Gretchen Rubin
        </p>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 ">
      <div class="box-wrapper">
        <div class="row">
          <div class="col-xs-12 col-sm-6 box6 box1">
            <img
              src="assets/img/Revent/Sankalp1.jpg"
              class="re-img img-fluid"
              alt=""
              routerLink="/r-events/30"
            />
            <div class="hover-text">
              <h4>Sankalp 2024</h4>
              <h4>A Cultural Pride</h4>
              <!-- <h4>ADDICTION FREE INDIA</h4> -->
              <div class="div-line"></div>
              <h6 class="below-line">Date – 01 February 2024</h6>
              <h6 class="below-line">
                Venue – Auditorium, J.C. Bose University Of Sci. and Tech., YMCA, Faridabad
              </h6>
              <button
                type="button"
                routerLink="/r-events/30"
                class="btn btn-success rec-btn"
              >
                Read More
              </button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 box6">
            <img
              src="assets/img/Revent/MimeAct.jpg"
              class="re-img img-fluid"
              alt=""
            />
            <div class="hover-text">
              <h4>Kalinjali Fest 2023</h4>
              <h4>Mime Act</h4>
              <div class="div-line"></div>
              <h6>Date – 21th October 2023</h6>
              <h6>Venue – India Gate, Delhi</h6>
              <button
                type="button"
                routerLink="/r-events/31"
                class="btn btn-success rec-btn"
              >
                Read More
              </button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 box6">
            <img
              src="assets/img/Revent/Viplava/4.jpg"
              class="re-img img-fluid"
              alt=""
            />
            <div class="hover-text">
              <h4>Viplava - Mega Youth Fest, 2023</h4>
              <div class="div-line"></div>
              <h6>Date – 20Th October 2023</h6>
              <h6>Venue – Govardhan Hills, Uttar-Pradesh, India</h6>
              <button
                type="button"
                routerLink="/r-events/32"
                class="btn btn-success rec-btn"
              >
                Read More
              </button>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 box6">
            <img
              src="assets/img/menu-revents/modal24-1.jpg"
              class="re-img img-fluid"
              alt=""
            />
            <div class="hover-text">
              <h4>UDGAAR</h4>
              <h4>(An Expression of Goodness & Joy)</h4>
              <div class="div-line"></div>
              <h6>Date – 22nd September 2024</h6>
              <h6>Venue – Indira Gandhi Indoor Stadium</h6>
              <button
                type="button"
                routerLink="/r-events/24"
                class="btn btn-success rec-btn"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
