<div class="modal1">
  <div class="close-btn"><a routerLink="/recent events">Back</a></div>
  <h1>UDGAAR(An Expression of Goodness & Joy)</h1>
  <div>
    <p id="p1">
      <br />
      Event- UDGAAR(An Expression of Goodness & Joy) <br />
      Date – 6th October, 2019<br />
      Venue – Indira Gandhi Indoor Stadium.
    </p>
    <P>
      Udgaar With great fervour and enthusiasm, much-awaited Annual Mega Youth
      Festival of Ethiccraft Club entitled” Udgaar: An Expression of Goodness
      and Joy” was organized at Indira Gandhi Indoor Stadium on 6th October
      2019. The theme of this year festival was
      <b>‘Addiction-Free India.”</b> The event witnessed a participation of many
      prominent dignitaries including
      <b
        >Dr. P.B. Sharma, VC-Amity University and Chindi Vasudevyappa, VC
        NIFTEM, Sonepat
      </b>
      and many college directors and principals along with more than
      <b>12000 youth</b> across the country.
      <b
        >Dr. Harshvardhan, Health Minister, Govt of India was the Chief Guest</b
      >
      on the occasion.<br />The event started with mesmerizing musical
      performance by <b>Madhavas Rock Band,</b> runner up of India’s Got Talent
      Season 3. This was followed by a dance performance on National Anthem by<b>
        Prince Dance Group</b
      >. In the next part of the festival, toppers of 6 colleges came to lock
      horns for an intellectual battle to prove their awareness on the subject
      of addictions through Inter-College Anti-addiction Quiz. This was followed
      by a welcome address by<b> HH Loknath Swami Maharaj </b>and inspirational
      messages by
      <b
        >Dr. Rakesh kumar Chaddha, Chief-NDDTC, AIIMS and HG Anuttama Pr,
        Minister of ISKCON Communications.</b
      >
      After that, a wonderful theatrical presentation named’ Stay High Forever”
      depicting the methodologies of dealing with addictions was presented. In
      the next part,
      <b
        >Dr. Veerendra Mishra, Director NISD, HH Saccinandan Swami Maharaj and
        Mr R.K. Sinha, MP, Rajya Sabha presented</b
      >
      a wholesome approach of dealing with addictions. In the next part, Feel
      Crew Dance group fascinated the audience with a splendid performance. Next
      was the felicitation of all guests and Inter-College quiz winners. This
      was followed by the presentation of
      <b>World Book of Records Certificate by WBR officials</b> marking this
      festival as the largest drug awareness lesson ever in the world history.
      After this,<b> HH Gopal Krishna Goswami, GBC ISKCON and BBT Trustee </b
      >delivered words of wisdom and Dr. Harshvardhan shared his realizations on
      drug addiction prevention. In the next part,<b>
        Dr. Vivek Bindra, founder of Badabusiness.com</b
      >
      enthralled the audience with his keynote speech. He delineated many key
      principles for holistic success. After this, sand art by Nitish Bharti and
      dance performance by Prince Group were very captivating. At last, the
      festival concluded with vote of thanks and a rocking performance by
      Madhavas Rock Band.
    </P>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-11 col-md-10 col-centered">
        <div
          id="carousel"
          class="carousel slide"
          data-ride="carousel"
          data-type="multi"
          data-interval="2500"
        >
          <div class="carousel-inner">
            <div class="item active">
              <div class="carousel-col">
                <div class="block red img-responsive">
                  <img src="assets/img/menu-revents/modal24-1.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block green img-responsive">
                  <img src="assets/img/menu-revents/modal24-2.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block blue img-responsive">
                  <img src="assets/img/menu-revents/modal24-3.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal24-4.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal24-5.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal24-6.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal24-7.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal24-8.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal24-9.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal24-10.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal24-11.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal24-12.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal24-13.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal24-14.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal24-15.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal24-16.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal24-17.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal24-18.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- Controls -->
          <div class="left carousel-control">
            <a href="#carousel" role="button" data-slide="prev">
              <span
                class="glyphicon glyphicon-chevron-left"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          <div class="right carousel-control">
            <a href="#carousel" role="button" data-slide="next">
              <span
                class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
