<div class="modal1">
  <div class="close-btn"><a routerLink="/recent events">Back</a></div>
  <h1>ORIENTATION PROGRAM AT DPGITM, GURUGRAM</h1>
  <div>
    <p id="p1">
      <br />
      Event- ORIENTATION PROGRAM AT DPGITM <br />
      Date – 10th October, 2019<br />
      Venue – Seminar Hall, DPGITM.
    </p>
    <P>
      Ethiccraft Club organized a seminar for the first year students of BBA,
      B.Tech and BCA in the Induction Program of DPG ITM College, Sec-34,
      Gurgaon. The Guest <B>Speaker, Mr. Ankit Malik,</B>who is M.Tech (Gold
      Medalist), IIT BHU, delivered an enlightening and a thoughtful talk on "<B
        >Life Apps</B
      >" <B>Around 150 students</B> attended the 45 min talk. Mr. Ankit related
      the contemporary issues and problems and linked their root causes and
      solutions to the wisdom of the timeless scriptures. Topics such as
      empowerment without education, responsibility of youth were enunciated in
      great detail and appreciated by everyone listening The students enjoyed
      the not so common practical knowledge imparted and many wrote of
      organizing such programs in the course of their studies to help them in
      their holistic development along with subject education.
    </P>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-11 col-md-10 col-centered">
        <div
          id="carousel"
          class="carousel slide"
          data-ride="carousel"
          data-type="multi"
          data-interval="2500"
        >
          <div class="carousel-inner">
            <div class="item active">
              <div class="carousel-col">
                <div class="block red img-responsive">
                  <img src="assets/img/menu-revents/modal25-1.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block green img-responsive">
                  <img src="assets/img/menu-revents/modal25-2.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block blue img-responsive">
                  <img src="assets/img/menu-revents/modal25-3.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal25-4.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal25-5.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- Controls -->
          <div class="left carousel-control">
            <a href="#carousel" role="button" data-slide="prev">
              <span
                class="glyphicon glyphicon-chevron-left"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          <div class="right carousel-control">
            <a href="#carousel" role="button" data-slide="next">
              <span
                class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
