<div class="modal1">
  <div class="close-btn"><a routerLink="/recent events">Back</a></div>
  <h1>FOOD DISTURBUTION-AAHARAM-JIVANSYA ADHARAM</h1>
  <div>
    <p id="p1">
      <br />
      Event- AAHARAM-JIVANSYA ADHARAM <br />
      Date – September 22nd,2019<br />
      Venue – Ghaziabad.
    </p>
    <P>
      Close to a billion people, one- eighth of the world’s population still
      lives in hunger. Each year 2 million children die due to malnutrition.
      This is happening at a time when doctors are warning of the spread of
      Obesity. We are eating too much while others STARVE.</P
    >
    <p>
      As an initiation to this starvation issue our Rkgit team ETHICCRAFT
      conducted an Event<b>"AAHARAM-JIVANSYA ADHARAM" on September 22,2019</b>
      at our RKGIT NGO 'Light De Literacy' which has poor and needy children. In
      this event volunteers distributed <b>Halwa, Chole and Chawal</b> to the
      poor children and also to their families. This little contribution of
      volunteers made them very happy and cheerful.This was one of the greatest
      feelings knowing that we as individuals can make a positive difference to
      them. Team Ethiccraft Rkgit
    </p>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-11 col-md-10 col-centered">
        <div
          id="carousel"
          class="carousel slide"
          data-ride="carousel"
          data-type="multi"
          data-interval="2500"
        >
          <div class="carousel-inner">
            <div class="item active">
              <div class="carousel-col">
                <div class="block red img-responsive">
                  <img src="assets/img/menu-revents/modal20-1.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block green img-responsive">
                  <img src="assets/img/menu-revents/modal20-2.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block blue img-responsive">
                  <img src="assets/img/menu-revents/modal20-3.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal20-4.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal20-5.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal20-6.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal20-7.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal20-8.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal20-9.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal20-10.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal20-11.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal20-12.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal20-13.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal20-14.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal20-15.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal20-16.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- Controls -->
          <div class="left carousel-control">
            <a href="#carousel" role="button" data-slide="prev">
              <span
                class="glyphicon glyphicon-chevron-left"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          <div class="right carousel-control">
            <a href="#carousel" role="button" data-slide="next">
              <span
                class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
