<div class="Re-heading">
  <h3>RECENT <span>EVENTS</span></h3>
</div>
<div class="grid-gallary-container">
  <div class="row">
  <!-- <div class="background"></div> -->  
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
    <div class="img-item1">
      <section class="card-section">
        <div class="">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/Revent/Sankalp1.jpg" />
            </div>
            <div class="card-body">
              <h4> Sankalp- A Cultural Pride </h4>
              <h6>DATE: 01 February, 2024</h6>
              <h6>LOCATION: Auditorium, J.C. Bose University Of Sci. and Tech., YMCA, Faridabad</h6>
              <p>
                  <b></b>
              </p>
              <div class="read-more">
                <button
                  class="btn btn-default center-block"
                  routerLink="/r-events/30"
                >
                  Read More
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>  
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
    <div class="img-item1">
      <section class="card-section">
        <div class="">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/Revent/MimeAct.jpg" />
            </div>
            <div class="card-body">
              <h4> Kalinjali Fest 2023- Mime Act</h4>
              <h6>DATE: 21th October 2023</h6>
              <h6>LOCATION: India Gate, Delhi</h6>
              <p>
                  <b></b>
              </p>
              <div class="read-more">
                <button
                  class="btn btn-default center-block"
                  routerLink="/r-events/31"
                >
                  Read More
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>  
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item1">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/Revent/Viplava/4.jpg" />
          </div>
          <div class="card-body">
            <h4> Viplava - Mega Youth Fest, 2023</h4>
            <h6>DATE: 20th OCTOBER 2023</h6>
            <h6>LOCATION: Govardhan Hills, Uttar-Pradesh, INDIA </h6>
            <p>
                In a follow up program of the conference on <b>Stress Management</b> at
                Delhi University, Ethiccraft Club
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/32"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item1">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal27-1.jpg" />
          </div>
          <div class="card-body">
            <h4> ETHICCRAFT CLUB LAUNCH AT DME</h4>
            <h6>DATE: 21st OCTOBER 2019</h6>
            <h6>LOCATION: Nelson Mandela Auditorium, DME </h6>
            <p>
                On 21st October 2019, Ethiccraft Club successfully organized a workshop on
                <B>Stress Management</B> for DME Noida,
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/27"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item1">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal26-1.jpg" />
          </div>
          <div class="card-body">
            <h4>GANGA GHATS CLEANING & FESTIVAL OF LIGHT</h4>
            <h6>DATE: 20th OCTOBER 2019</h6>
            <h6>LOCATION: Ganga Ghats, Patna </h6>
            <p>
                On 20th October,<b> NIT Patna Ethiccraft Club team</b> successfully
                organized a festival 
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/26"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item1">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal24-1.jpg" />
          </div>
          <div class="card-body">
            <h4>UDGAAR(An Expression of Goodness & Joy)</h4>
            <h6>DATE: 6th OCTOBER 2019</h6>
            <h6>LOCATION: Indira Gandhi Stadium. </h6>
            <p>
              Udgaar	With great fervour and enthusiasm, much-awaited Annual Mega Youth Festival of Ethiccraft Club entitled” Udgaar: An Expression of Goodness and Joy”
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/24"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
    <div class="img-item1">
      <section class="card-section">
        <div class="">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/menu-revents/modal23-1.jpg" />
            </div>
            <div class="card-body">
              <h4>LIVE INTRA COLLEGE QUIZ </h4>
              <h6>DATE: 6th OCTOBER 2019</h6>
              <h6>LOCATION: Indira Gandhi Stadium. </h6>
              <p>
                Growing menace of addictions is a cause of great concern for the society. The problem is so gruesome that if it is not tackled timely, it will gradually devour the future of the country.
              </p>
              <div class="read-more">
                <button
                  class="btn btn-default center-block"
                  routerLink="/r-events/23"
                >
                  Read More
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    </div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item1">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal29-1.jpg" />
          </div>
          <div class="card-body">
            <h4>DISASTER WELFARE AT PATNA FLOOD AFFECTED AREAS</h4>
            <h6>DATE: 2nd OCTOBER 2019</h6>
            <h6>LOCATION: Patna, Bihar. </h6>
            <p>
                Ethiccraft Club is delighted to share on 2nd October 2019, some of our members of NIT Patna Ethiccraft Club did selfless service
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/29"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item1">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal22-1.jpeg" />
          </div>
          <div class="card-body">
            <h4>INTRA-COLLEGE ANTI-ADDICTION QUIZ</h4>
            <h6>DATE: Feb 2019 to Sep 2019</h6>
            <h6>LOCATION: College Campus. </h6>
            <p>
              As part of its initiative towards social upliftment, Ethiccraft Club launched Anti-Addiction Campaign
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/22"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item1">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal21-1.jpg" />
          </div>
          <div class="card-body">
            <h4>TREE PLANTATION & NATIONAL SANITATION MISSION</h4>
            <h6>DATE: 29th September 2019</h6>
            <h6>LOCATION: Three villages of Ghaziabad. </h6>
            <p>
              Ethiccraft Club of RKGIT, AKGEC and ABES college in collaboration with UNNAT BHARAT
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/21"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item1">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal20-1.jpg" />
          </div>
          <div class="card-body">
            <h4>FOOD DISTURBUTION </h4>
            <h4>(AAHARAM JIVANSYA ADHARAM)</h4>
            <h6>DATE: 22th September 2019</h6>
            <h6>LOCATION: Ghaziabad. </h6>
            <p>
              Close to a billion people, one- eighth of the world’s population still lives in hunger.   
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/20"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item1">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal19-1.jpg" />
          </div>
          <div class="card-body">
            <h4>CONFERENCE ON STRESS MANAGEMENT</h4>
            <h6>DATE: 18th September 2019</h6>
            <h6>LOCATION:DU Conference Hall. </h6>
            <p>
              Ethiccraft Club in association with Delhi University, very successfully organized a "Conference on Stress Management". 
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/19"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item1">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal18-3.jpg" />
          </div>
          <div class="card-body">
            <h4>POWER OF HABIT</h4>
            <h6>DATE: 9th September 2019</h6>
            <h6>LOCATION: NITRA, Ghaziabad. </h6>
            <p>
              Taking a step forward towards fulfilling the Club motto" Marching towards
      Values", Ethiccraft Club organized a seminar on "Power of Habits" at
      NITRA,
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/18"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item1">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal17-3.jpg" />
          </div>
          <div class="card-body">
            <h4>AN IDEA CAN CHANGE YOUR LIFE</h4>
            <h6>DATE: 30th August 2019</h6>
            <h6>LOCATION: GL Bajaj institute of Technology and Management, Greater Noida. </h6>
            <p>
              Ethiccraft Club successfully organised a seminar on the topic
      "An Idea Can Change Your Life"
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/17"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item1">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal16-1.jpg" />
          </div>
          <div class="card-body">
            <h4>ORIENTATION PROGRAM</h4>
            <h6>DATE: 21st August 2019</h6>
            <h6>LOCATION:Daulat Ram Girls College, University of Delhi </h6>
            <p>
              On 21st August , a seminar was organized by Ethiccraft club at Daulat Ram Girls College,
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/15"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item1">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal15-1.jpg" />
          </div>
          <div class="card-body">
            <h4>ORIENTATION PROGRAM AT RKGIT</h4>
            <h6>DATE: 21st August 2019</h6>
            <h6>LOCATION:National Institute of Food Technology Entrepreneurship and  Management </h6>
            <p>
              With the sincere efforts of the volunteers and members of the institution, 
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/16"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item1">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal14-1.jpg" />
          </div>
          <div class="card-body">
            <h4>QUEST FOR HAPPINESS</h4>
            <h6>DATE: 20th August 2019</h6>
            <h6>LOCATION: IMS Ghaziabad</h6>
            <p>
              As part of spreading its outreach across management students who will become future business leaders, managers of the country,
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/14"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item1">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal13-11.jpg" />
          </div>
          <div class="card-body">
            <h4>ORIENTATION PROGRAM AT RKGIT</h4>
            <h6>DATE: 13th August, 2019</h6>
            <h6>LOCATION:  Raj Kumar Goel Institute of Technology, Ghaziabad</h6>
            <p>
              On a special invitation from Raj Kumar Goel Institute of Technology, Ghaziabad, Ethiccraft Club
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/13"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
    <div class="img-item1">
      <section class="card-section">
        <div class="">
          <div class="card">
            <div class="card-img">
              <img src="assets/img/menu-revents/modal25-1.jpg" />
            </div>
            <div class="card-body">
              <h4>ORIENTATION PROGRAM AT DPGITM, GURUGRAM</h4>
              <h6>DATE: 10th August 2019</h6>
              <h6>LOCATION: Seminar Hall, DPGITM. </h6>
              <p>
                  Ethiccraft Club organized a seminar for the first year students of BBA,
                  B.Tech and BCA in the Induction Program of DPG ITM College,
              </p>
              <div class="read-more">
                <button
                  class="btn btn-default center-block"
                  routerLink="/r-events/25"
                >
                  Read More
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item1">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal12-5.jpg" />
          </div>
          <div class="card-body">
            <h4>POWER OF HABITS</h4>
            <h6>DATE: 5th August 2019</h6>
            <h6>LOCATION: IMS Engineering College, Ghaziabad</h6>
            <p>
              Ethiccraft Club conducted an orientation program at IMS Engineering College, Ghaziabad on 5th August 2019.
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/12"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item1">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal0-1.jpg" />
          </div>
          <div class="card-body">
            <h4>CAMPUS AMBASSADOR TRIP TO KURUKSHETRA</h4>
            <h6>DATE: 13TH APRIL 2019</h6>
            <h6>LOCATION: Kurukshetra</h6>
            <p>
              Places Visit: Brahm Sarovar, Panorama, Sri Krishna Museum,
              Jyotisar.
              <br />
              “Wisdom comes not by simply resting
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/0"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item2">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal1-2.jpg" />
          </div>
          <div class="card-body">
            <h4>ETHICCRAFT CLUB LAUNCH</h4>
            <h6>DATE:5TH April 2019</h6>
            <h6>VENUE: Auditorium, RKGIT Ghaziabad.</h6>
            <p>
              Ethiccraft Club achieved one more milestone when by the efforts of
              its sincere members in the institution,
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/1"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item3">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal2-1.jpg" />
          </div>
          <div class="card-body">
            <h4>DE-ADDICTION CAMPAIGN | PRIZE DISTRIBUTION CEREMONY</h4>
            <h6>DATE: 30th March 2019</h6>
            <h6>LOCATION: Auditorium, ISKCON East of Kailash.</h6>
            <h6>Participants:- 150+</h6>
            <p>
              “ When Competition turns into contribution, everything eventually
              becomes a celebration ”
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/2"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item4">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal3-3.jpg" />
          </div>
          <div class="card-body">
            <h4>SEMINAR ON ANTI-ADDICTION</h4>
            <h6>DATE: 27th March 2019</h6>
            <h6>VENUE: Auditorium, GL Bajaj Group of Institutions.</h6>
            <p>
              Understanding the urgency of anti-addiction in order to help the
              country become addiction free, Ethiccraft Club launched 
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/3"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item5">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal4-1.jpg" />
          </div>
          <div class="card-body">
            <h4>SEMINAR ON ANTI-ADDICTION</h4>
            <h6>DATE: 18th March 2019</h6>
            <h6>
              VENUE:Maharaja Surajmal Institute of Technology
            </h6>
            <p>
              “ Marching to wards Values ” aims to proliferate knowledge, skill
              and values among the youths organized a seminar on the De-
              Addiction for the students
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/4"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item6">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal5-1.jpg" />
          </div>
          <div class="card-body">
            <h4>ART OF DECISION MAKING</h4>
            <h6>DATE: 12th Feb, 2019</h6>
            <h6>VENUE: Seminar Hall</h6>
            <p>
              With the vision of Pan-India expansion of Ethiccraft Club to help
              youths get connected with the activities of the club,
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/5"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item7">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal6-1.jpg" />
          </div>
          <div class="card-body">
            <h4>7 SESSION SEMINAR SERIES</h4>
            <h6>DATE: 28th January to 2nd February</h6>
            <h6>VENUE: AV Room, Bhaskaracharya College</h6>
            <p>
              With the motto” Marching towards Values”, Ethiccraft Club
              conducted a 7 seminar series at 
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/6"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item8">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal7-1.jpg" />
          </div>
          <div class="card-body">
            <h4>SEMINAR ON TIME MANAGEMENT</h4>
            <h6>DATE: 23rd January 2019</h6>
            <h6>LOCATION: Seminar Hall, DPGITM College Gurgaon</h6>
            <p>
              “Once a moment of time is lost, it cannot be regained even by the
              wealth of the whole world” quoted Chanakaya Pandit
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/7"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item9">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal8-1.jpg" />
          </div>
          <div class="card-body">
            <h4>LEADERSHIP SEMINAR</h4>
            <h6>DATE: 04TH Jan 2019</h6>
            <h6>VENUE:Jawaharlal Nehru University</h6>
            <p>
              With the objective of helping the youth learn and cultivate the
              leadership traits and qualities,
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/8"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item10">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal9-1.jpg" />
          </div>
          <div class="card-body">
            <h4>YOUTH PROGRAM AND SEMINAR AT RKGIT, GHAZIABAD</h4>
            <h6>DATE: 20 Nov 2018</h6>
            <h6>VENUE:GHAZIABAD</h6>
            <p>
              Ethiccraft Club, in a step forward towards helping the youths know
              the various important values of human life and cultivate
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/9"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item11">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal10-1.jpg" />
          </div>
          <div class="card-body">
            <h4>ETHICCRAFT CLUB LAUNCH</h4>
            <h6>DATE: 14 Oct 2018</h6>
            <h6>VENUE:Indira Gandhi Indoor Stadium</h6>
            <p>
              ETHICCRAFT CLUB LAUNCH 14 Oct 2018 admin Recent Comments Off on
              Ethiccraft Club Launch In an initiative 
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/10"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
  <div class="img-item12">
    <section class="card-section">
      <div class="">
        <div class="card">
          <div class="card-img">
            <img src="assets/img/menu-revents/modal11-1.jpg" />
          </div>
          <div class="card-body">
            <h4>UDGAAR VALUE AWARENESS QUIZ</h4>
            <h6>DATE: 14 Oct 2018</h6>
            <h6>VENUE:Indira Gandhi Indoor Stadium</h6>
            <p>
              UDGAAR VALUE AWARENESS QUIZ 28 Sep 2018 admin Recent Comments Off
              on Udgaar Value Awareness Quiz
            </p>
            <div class="read-more">
              <button
                class="btn btn-default center-block"
                routerLink="/r-events/11"
              >
                Read More
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  </div>
</div>
