<div class="modal1">
  <div class="close-btn"><a routerLink="/recent events">Back</a></div>
  <h1>SEMINAR ON TIME MANAGEMENT</h1>
  <div>
    <p id="p1">
      <br />
      Event- SEMINAR ON TIME MANAGEMENT <br />
      Date – 23rd January 2019<br />
      Venue – Seminar Hall, DPGITM College Gurgaon.
    </p>
    <P>
      “Once a moment of time is lost, it cannot be regained even by the wealth
      of the whole world” quoted Chanakaya Pandit which helps one understand the
      value of time. In an endeavour to help the students know the valuable
      principles associated with Time Management, Ethiccraft Club conducted a
      riveting seminar on Time Management at
      <b>DPG Institute of Technology and Management, Gurgaon</b> on
      <b>23rd January 2019</b>. The seminar aimed to let the students know
      various aspects of <b>time management</b> including the art of scheduling,
      monitoring and priority setting. The seminar was very eloquently delivered
      by <b>Mr Shivanshu Singh</b>, Vice-President, Ethiccraft Club who covered
      the topic through 5 practical activities. The seminar was attended by more
      than <b>220 students</b>.
    </P>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-11 col-md-10 col-centered">
        <div
          id="carousel"
          class="carousel slide"
          data-ride="carousel"
          data-type="multi"
          data-interval="2500"
        >
          <div class="carousel-inner">
            <div class="item active">
              <div class="carousel-col">
                <div class="block red img-responsive">
                  <img src="assets/img/menu-revents/modal7-1.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block green img-responsive">
                  <img src="assets/img/menu-revents/modal7-2.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block blue img-responsive">
                  <img src="assets/img/menu-revents/modal7-3.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal7-4.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal7-5.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal7-6.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal7-7.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal7-8.jpg" alt="" />
                </div>
              </div>
            </div>
            <div class="item">
              <div class="carousel-col">
                <div class="block yellow img-responsive">
                  <img src="assets/img/menu-revents/modal7-9.jpg" alt="" />
                </div>
              </div>
            </div>
          </div>
          <!-- Controls -->
          <div class="left carousel-control">
            <a href="#carousel" role="button" data-slide="prev">
              <span
                class="glyphicon glyphicon-chevron-left"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Previous</span>
            </a>
          </div>
          <div class="right carousel-control">
            <a href="#carousel" role="button" data-slide="next">
              <span
                class="glyphicon glyphicon-chevron-right"
                aria-hidden="true"
              ></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
