<!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
<!-- Header -->
<div class="container">
  <header class="w3-display-container w3-content w3-wide" style="max-width: 1600px; min-width: 500px" id="home">
    <!-- <img class="w3-image" src="/w3images/hamburger.jpg" alt="Hamburger Catering" width="1600" height="800"> -->
    <div class="w3-display-bottomleft w3-padding-large w3-opacity">
      <h1 class="w3-xxlarge">Udgar - Making INDIA Addiction Free</h1>
    </div>
  </header>

  <!-- Page content -->
  <div class="w3-content" style="max-width: 1100px">
    <!-- About Section -->
    <div class="w3-row w3-padding-64" id="about">
      <div class="w3-col m6 w3-padding-large w3-hide-small">
        <img src="../../assets/img/udgaar/udgaar3.jpg" class="w3-round w3-image w3-opacity-min" alt="Table Setting"
          width="600" height="750" />
      </div>

      <div class="w3-col m6 w3-padding-large">
        <h1 class="w3-center">Udgar</h1>
        <h4 class="w3-center">An Expression Of Goodness And Joy</h4>
        <br />
        <p class="w3-large">
          The primary objective of this event is to address and combat the issue
          of addiction through targeted anti-addiction drives. With an emphasis
          on prevention and education, the event aims to provide valuable
          insights and resources to students, helping them understand the
          dangers of substance abuse and the importance of making informed,
          healthy choices.
        </p>
        <p class="w3-large w3-text-grey w3-hide-medium">
          Our initiative centers around organizing a comprehensive
          anti-addiction drive that involves various interactive and educational
          components.
        </p>
      </div>
    </div>
    <hr />

    <div class="testimonials">
      <h2 class="w3-center">Perks And Benefits</h2>
      <div class="testimonial-item">
        <p class="testimonial-text">"E-certificates will be provided"</p>
        <h4>John Doe</h4>
      </div>
      <div class="testimonial-item">
        <p class="testimonial-text">"The best catering experience I've ever had."</p>
        <h4>Jane Smith</h4>
      </div>
    </div>

    <!-- Menu Section -->
    <div class="w3-row w3-padding-64" id="menu">
      <div class="w3-col l6 w3-padding-large">
        <h1 class="w3-center">Events</h1>
        <br />
        <h4>Awareness Initiative</h4>
        <p class="w3-text-grey">
          Educating students about the consequences of addiction and Encouraging
          them to stay away from intoxicants.
        </p>
        <br />

        <h4>Interactive Quiz</h4>
        <p class="w3-text-grey">
          Interactive Quiz on the Teachings of 'Weed Out Book'
        </p>
        <br />

        <h4>Mantra Rock Show</h4>
        <p class="w3-text-grey">Mantra Rock Show by Madhvas Rock Band</p>
        <br />

        <h4>Shadow Act</h4>
        <p class="w3-text-grey">
          Shadow Act beautifully showcasing the teachings of the Bhagavad Gita
        </p>
        <br />

        <h4>Certificates & Free Dinner</h4>
        <p class="w3-text-grey">
          E-certificates for participation and a free dinner for all attendees.
        </p>
      </div>

      <div class="w3-col l6 w3-padding-large">
        <img src="../../assets/img/udgaar/udgaar3.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu"
          style="width: 100%" />
      </div>
    </div>
    <hr />

    <!-- Promo Section - "We know design" -->
    <div class="promo-section">
      <div class="promo-image">
        <img src="../../assets/img/udgaar/Udgaar-Bannner2.jpeg" alt="Design Image">
      </div>
      <div class="promo-content">
        <h3>Udgar</h3>
        <p> Registration Started </p>
        <a routerLink="/udgaar" class="promo-button"> Register Here </a>
      </div>
    </div>
    

    <!-- Gallery Section -->
    <section class="gallery" id="gallery">
      <h2 class="section-title">Gallery</h2>
      <div class="section-container">
        <div class="gallery-list">
          <div class="gallery-items">
            <img src="../../assets/img/udgaar/MadhvasBand.png" alt="Gallery Image" class="gallery-image" />
          </div>
          <div class="gallery-items">
            <img src="../../assets/img/udgaar/MimeAct.jpg" alt="Gallery Image" class="gallery-image" />
          </div>
          <div class="gallery-items">
            <img src="../../assets/img/udgaar/Shadow-Act.jpg" alt="Gallery Image" class="gallery-image" />
          </div>
          <div class="gallery-items">
            <!-- <img src="../../assets/img/udgaar/udgaar3.jpg" alt="Gallery Image" class="gallery-image"> -->
          </div>
          <div class="gallery-items">
            <!-- <img src="../../assets/img/udgaar/udgaar3.jpg" alt="Gallery Image" class="gallery-image"> -->
          </div>
          <div class="gallery-items">
            <!-- <img src="../../assets/img/udgaar/udgaar3.jpg" alt="Gallery Image" class="gallery-image"> -->
          </div>
        </div>
      </div>
    </section>
    <hr />

    <!-- Contact Section -->
    <div class="w3-container w3-padding-64" id="contact">
      <h1>Contact Us</h1>
      <br />
      <form action="/action_page.php" target="_blank">
        <p>
          <input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name" />
        </p>
        <p>
          <input class="w3-input w3-padding-16" type="number" placeholder="University or College" required
            name="People" />
        </p>
        <p>
          <input class="w3-input w3-padding-16" type="datetime-local" placeholder="Date and time" required name="date"
            value="2024-10-18T20:00" />
        </p>
        <p>
          <input class="w3-input w3-padding-16" type="text" placeholder="Problem" required name="Message" />
        </p>
        <p>
          <button class="w3-button w3-light-grey w3-section" type="submit">
            SEND MESSAGE
          </button>
        </p>
      </form>
    </div>

    <!-- End page content -->
  </div>
</div>