<div class="container">
  <div class="member-heading">
    <h3>ETHICCRAFT CLUB <span>MEMBER</span></h3>
  </div>
  <div class="member-content">
    <p>
      Ethiccraft members are the youths who are connected with the club
      activities at some level. These may include youths from colleges, coaching
      or professional background. Members of Ethiccraft Club are expected to
      volunteer for the different programs conducted by club in order to ensure
      smooth conduct of the events and also help in connecting people with the
      club to bless with the opportunity of being instrumental in bringing a
      positive transformation. Some of the responsibilities of club members are
      as follows:
    </p>
    <div class="p-space number-p">
      <ul>
        <li>
          Taking responsibility of connecting people to values through
          Ethiccraft Club.
        </li>
        <li>
          Enhancing their In-build talents and skills and employ them in various
          activities conducted to spread values by club.
        </li>
        <li>
          Volunteer for the club responsibilities and leadership for spreading
          values.
        </li>
        <li>
          Help to spread awareness among youth about club by connecting them to
          various value development, educational seminar and social welfare
          activities of Ethiccraft Club.
        </li>
        <li>
          Become instrumental in training and engaging the new members as per
          their nature and talents.
        </li>
      </ul>
    </div>
    <div class="p-space">
      <p><span> Club Membership Standards are as follows:</span></p>
    </div>
    <div class="p-space">
      <p><span>Membership Responsibilities</span></p>
    </div>
    <div class="p-space">
      <p>
        What the people get out of Ethiccraft Club depends largely on what they
        put into it. Many membership requirements are designed to help club
        members more fully participate in and enjoy a life-transforming
        experience.
      </p>
    </div>
    <div class="p-space sub-heading">
      <p><span>1. Attendance</span></p>
    </div>
    <div class="p-space">
      <p>
        Attending weekly club meetings allows members to enjoy fellowship,
        enrich their professional and personal knowledge and meet other business
        leaders in their community. Club members are encouraged to attend all
        meetings and to make-up at other branches of the club throughout the
        Delhi-NCR when they are unable to attend their regular club meeting.
        Members are required to attend 50% of the meetings in each six-month
        period and not miss four consecutive meetings in order to remain an
        active member. A member can make-up the meeting they missed within a
        two-week window prior to or after the club meeting they missed.
      </p>
    </div>
    <div class="p-space sub-heading">
      <p><span class="member-service">2. Service</span></p>
    </div>
    <div class="p-space">
      <p>
        By participating in local and national service projects, club members
        can volunteer their time and talents where they’re most needed. The five
        Avenues of Service are philosophical cornerstone and the foundation on
        which club activity is based:
      </p>
    </div>
    <div class="space-ul">
      <ol>
        <li>
          CLUB SERVICE: focuses on strengthening fellowship and ensuring the
          club’s effective functioning. VOCATIONAL SERVICE encourages club
          members to serve others through their vocations and to practice high
          ethical standards.
        </li>
        <li>
          COMMUNITY SERVICE: covers the projects and activities the club
          undertakes to improve life in its community.
        </li>
        <li>
          INTERNATIONAL SERVICE: encompasses actions taken to expand club’s
          humanitarian reach around the globe and to promote world understanding
          and peace.
        </li>
        <li>
          NEW GENERATIONS: recognizes the positive change implemented by youth
          and young adults through leadership development activities,
          involvement in community and international service projects, and
          exchange programs that enrich and foster world peace and cultural
          understanding.
        </li>
      </ol>
    </div>
    <div class="p-space">
      <p>
        <span>
          3. Finding and keeping members
        </span>
      </p>
    </div>
    <div class="p-space">
      <p>
        To keep clubs strong, every club member must share the responsibility of
        bringing new people into club. Even new members can bring guests to club
        meetings or invite them to participate in a service project. Keeping
        members involved in club is another responsibility. Fostering strong
        fellowship and encouraging early participation in service projects are
        two of the best ways to sustain a club’s membership.
      </p>
    </div>
    <div class="p-space">
      <p>
        <span>
          4. Leadership
        </span>
      </p>
    </div>
    <div class="p-space">
      <p>
        Club members are encouraged to volunteer for leadership roles at the
        club level and beyond. Leadership opportunities include becoming a chair
        or a member of a club committee.
      </p>
    </div>
    <button
      type="button"
      routerLink="/joinus"
      class="btn btn-primary btn-block member-join-btn"
    >
      Join As Member
    </button>
  </div>
</div>
